# data/gapminder.tsv ë¥¼ ì½ì–´ ë°ì´í„° í”„ë ˆì„ ë§Œë“¤ê¸°

- pip install pandas
- import pandas as pd

In [ ]:
import pandas as pd

# tabìœ¼ë¡œ êµ¬ë¶„ëœ gapminder.tsv íŒŒì¼ì„ ì½ì–´ì„œ ë°ì´í„°í”„ë ˆì„ ìƒì„±
df = pd.read_csv("data/gapminder.tsv", sep="\t")

# ë°ì´í„°í”„ë ˆì„ ìƒìœ„ 5ê°œ í–‰ ì¶œë ¥
print(df.head())

# ë¯¸ë¦¬ë³´ê¸°

### ë°ì´í„°í”„ë ˆì„ ì‚¬ìš©

**ë¯¸ë¦¬ë³´ê¸° ê¸°ëŠ¥ :** ë°ì´í„°í”„ë ˆì„ì—ì„œ ë¨¼ì € ë°ì´í„°ì˜ êµ¬ì¡°ì™€ ë‚´ìš©ì„ ë¹ ë¥´ê²Œ íŒŒì•…í•˜ê¸° ìœ„í•œ ê¸°ëŠ¥

- head(): ë°ì´í„°í”„ë ˆì„ì˜ ì²˜ìŒ 5ê°œ í–‰ì„ ë³´ì—¬ì¤€ë‹¤ (ë§¤ê°œë³€ìˆ˜ë¡œ ë‹¤ë¥¸ ìˆ«ì ì§€ì • ê°€ëŠ¥)
- tail(): ë°ì´í„°í”„ë ˆì„ì˜ ë§ˆì§€ë§‰ 5ê°œ í–‰ì„ ë³´ì—¬ì¤€ë‹¤
- info(): ë°ì´í„°í”„ë ˆì„ì˜ ê¸°ë³¸ ì •ë³´ (í–‰/ì—´ ê°œìˆ˜, ë°ì´í„° íƒ€ì…, ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ ë“±)ë¥¼ í‘œì‹œ
- describe(): ìˆ˜ì¹˜í˜• ì—´ì— ëŒ€í•œ ìš”ì•½ í†µê³„ëŸ‰ (í‰ê· , í‘œì¤€í¸ì°¨, ìµœì†Œ/ìµœëŒ€ê°’ ë“±)ì„ ê³„ì‚°

In [ ]:
import pandas as pd

df = pd.read_csv("data/gapminder.tsv", sep="\t")

# 1. ìƒìœ„ 5ê°œ í–‰ ë¯¸ë¦¬ë³´ê¸°
# - head(): ë°ì´í„°í”„ë ˆì„ì˜ ì²˜ìŒ 5ê°œ í–‰ì„ ë³´ì—¬ì¤€ë‹¤ (ë§¤ê°œë³€ìˆ˜ë¡œ ë‹¤ë¥¸ ìˆ«ì ì§€ì • ê°€ëŠ¥)
print(df.head())

# 2. í•˜ìœ„ 5ê°œ í–‰ ë¯¸ë¦¬ë³´ê¸°
# - tail(): ë°ì´í„°í”„ë ˆì„ì˜ ë§ˆì§€ë§‰ 5ê°œ í–‰ì„ ë³´ì—¬ì¤€ë‹¤
print(df.tail())

# 3. ì „ì²´ shape(í–‰/ì—´ ìˆ˜) í™•ì¸

print(df.shape)  # (í–‰ ê°œìˆ˜, ì—´ ê°œìˆ˜)

# 4. ì—´ ì´ë¦„ë§Œ ë³´ê¸°
print(df.columns)

# 5. ê°„ë‹¨í•œ í†µê³„ ìš”ì•½
# describe(): ìˆ˜ì¹˜í˜• ì—´ì— ëŒ€í•œ ìš”ì•½ í†µê³„ëŸ‰ (í‰ê· , í‘œì¤€í¸ì°¨, ìµœì†Œ/ìµœëŒ€ê°’ ë“±)ì„ ê³„ì‚°
print(df.describe())

# info(): ë°ì´í„°í”„ë ˆì„ì˜ ê¸°ë³¸ ì •ë³´ (í–‰/ì—´ ê°œìˆ˜, ë°ì´í„° íƒ€ì…, ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ ë“±)ë¥¼ í‘œì‹œ
print(df.info())

# country ì—´ ì¶”ì¶œí•˜ê¸°

In [ ]:
df['country']

In [ ]:
type(df["country"])  # pandas.core.series.Series

In [ ]:
df.loc[:,'country']
# ë‚˜ì¤‘ì— ì¡°ê±´ ì§€ì •ì´ ë§ì•„ì§€ë©´ df.loc[row, col] í˜•íƒœë¡œ ë„˜ì–´ê°€ê²Œ ë¼.

# 'country', 'continent', 'year' ì—´ ì¶”ì¶œí•˜ê¸°

In [ ]:
df['continent']

In [ ]:
# ë°©ë²• 1: df[["ì—´1", "ì—´2", "ì—´3"]] ë°©ì‹ (ê°€ì¥ ë§ì´ ì”€)
df[["country", "continent", "year"]]

print(df[["country", "continent", "year"]].head())

In [ ]:
df.iloc[0]

In [ ]:
# ë°©ë²• 2: .loc ì‚¬ìš©
df.loc[:, ["country", "continent", "year"]]
# .locëŠ” í–‰ê³¼ ì—´ì„ ë™ì‹œì— ë‹¤ë£° ìˆ˜ ìˆìœ¼ë‹ˆê¹Œ, ì¡°ê±´ ì¶”ê°€í•˜ê³  ì‹¶ì„ ë•Œ ìœ ìš©í•´.

print(df[["country", "continent", "year"]].head())

# [0], [99] , [-1] í–‰ì„ ê°ê° ì¶”ì¶œí•˜ê¸°

In [ ]:
# âœ… íŠ¹ì • í–‰ ì¶”ì¶œ: .iloc[] ì‚¬ìš©

# 0ë²ˆì§¸ í–‰
print(df.iloc[0])

# 99ë²ˆì§¸ í–‰
print(df.iloc[99])

# ë§ˆì§€ë§‰ í–‰
print(df.iloc[-1])

In [ ]:
# âœ… ì—¬ëŸ¬ í–‰ì„ ë™ì‹œì— ì¶”ì¶œí•˜ë ¤ë©´?
df_list = df.iloc[[0,99,-1]]

print(df.iloc[[0, 99, -1]])
type(df_list)

In [ ]:
df_list1 = df.iloc[-1]
type(df_list1)

In [ ]:
# ì—°ë„ì™€ ì¸êµ¬ 10ê±´ > ìŠ¬ë¼ì´ì‹± > ì„œë¸Œì…‹

import pandas as pd

df = pd.read_csv("data/gapminder.tsv", sep="\t")

# ì—°ë„ì™€ ì¸êµ¬ ì„œë¸Œì…‹ (ì—´ ì„ íƒ)
subset = df[["year", "pop"]]

# 10ê±´ë§Œ ë³´ê¸° (ìŠ¬ë¼ì´ì‹± ë˜ëŠ” head)
print(subset.head(10))

In [ ]:
#ì¸êµ¬ë‹¹gdp ë§ˆì§€ë§‰ 10ê°œ ê°’ ì¶”ì¶œ
df.iloc[-11:-1,5]

In [ ]:
# range() ê°ì²´ë¡œ í–‰/ì—´ ìŠ¬ë¼ì´ì‹±
hang = df.iloc[:, range(1,3)]
print("í–‰ ìŠ¬ë¼ì´ì‹±",hang)
yul = df.iloc[range(1,3),:]
print("ì—´ ìŠ¬ë¼ì´ì‹±",yul)

# 25.06.17(ì˜¤í›„ìˆ˜ì—…)

In [ ]:
df['year'].value_counts()

In [ ]:
# 'year' ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ê·¸ë£¹í™”í•˜ê³ ,
# ê° ì—°ë„ë³„ë¡œ 'lifeExp' ì—´ì˜ í‰ê· ì„ ê³„ì‚°í•œë‹¤.
df.groupby('year')['lifeExp'].mean()

In [ ]:
# 'year' ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ê·¸ë£¹í™”í•œ í›„,
# ê° ì—°ë„ë³„ë¡œ 'lifeExp' ì—´ì˜ **ìµœëŒ“ê°’**ì„ ê³„ì‚°í•œë‹¤.
df.groupby('year')['lifeExp'].max()

In [ ]:
# 'year' ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ê·¸ë£¹í™”í•œ ë’¤,
# ê° ì—°ë„ ê·¸ë£¹ì—ì„œ 'lifeExp' ì—´ì„ ì„ íƒí•˜ê³ ,
# ê° ê·¸ë£¹ì—ì„œ ìƒìœ„ nê°œ (ê¸°ë³¸ê°’ 5ê°œ)ë¥¼ ë°˜í™˜í•œë‹¤.
# ì´ ê²½ìš°ì—ëŠ” `.head()`ë§Œ ì“°ë©´ ê¸°ë³¸ì ìœ¼ë¡œ 5ê°œì”© ë³´ì—¬ì¤€ë‹¤.
df.groupby('year')['lifeExp'].head()

In [41]:
df.groupby(['year','continent'])[['lifeExp', 'gdpPercap']].mean()

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [42]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [49]:
# country, continent, year ì§‘ê³„ ê°€ëŠ¥ì„±
# ì§‘ê³„ í›„, mean(), max(), min() ì‹¤ìŠµí•´ë³´ê¸°

# country, continent, year ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™” ê°€ëŠ¥ (ë³µí•© í‚¤ë¡œ ê·¸ë£¹í•‘)
# ê° ê·¸ë£¹ì— ëŒ€í•´ í†µê³„ëŸ‰(í‰ê· , ìµœëŒ“ê°’, ìµœì†Ÿê°’ ë“±)ì„ ê³„ì‚°í•  ìˆ˜ ìˆìŒ

# í‰ê·  ìˆ˜ëª…(lifeExp)ì˜ í‰ê· ê°’
print("ğŸ“Œ í‰ê·  ìˆ˜ëª…(lifeExp)ì˜ í‰ê· ê°’")
print(df.groupby(['country', 'continent', 'year'])['lifeExp'].mean())
print("\n" + "-"*50 + "\n")

# GDPì˜ ìµœëŒ€ê°’
print("ğŸ“Œ GDPì˜ ìµœëŒ€ê°’")
print(df.groupby(['country', 'continent', 'year'])['gdpPercap'].max())
print("\n" + "-"*50 + "\n")

# ê¸°ëŒ€ ìˆ˜ëª…ì˜ ìµœì†Ÿê°’
print("ğŸ“Œ ê¸°ëŒ€ ìˆ˜ëª…ì˜ ìµœì†Ÿê°’")
print(df.groupby(['country', 'continent', 'year'])['lifeExp'].min())
print("\n" + "-"*50 + "\n")

# ì—¬ëŸ¬ ì§‘ê³„ í•¨ìˆ˜ í•œ ë²ˆì— ì“°ê¸° (agg)
print("ğŸ“Œ ì—¬ëŸ¬ í†µê³„ëŸ‰ í•œ ë²ˆì— ë³´ê¸° (mean, max, min)")
print(df.groupby(['country', 'continent', 'year'])['lifeExp'].agg(['mean', 'max', 'min']))

ğŸ“Œ í‰ê·  ìˆ˜ëª…(lifeExp)ì˜ í‰ê· ê°’
country      continent  year
Afghanistan  Asia       1952    28.801
                        1957    30.332
                        1962    31.997
                        1967    34.020
                        1972    36.088
                                 ...
Zimbabwe     Africa     1987    62.351
                        1992    60.377
                        1997    46.809
                        2002    39.989
                        2007    43.487
Name: lifeExp, Length: 1704, dtype: float64

--------------------------------------------------

ğŸ“Œ GDPì˜ ìµœëŒ€ê°’
country      continent  year
Afghanistan  Asia       1952    779.445314
                        1957    820.853030
                        1962    853.100710
                        1967    836.197138
                        1972    739.981106
                                   ...
Zimbabwe     Africa     1987    706.157306
                        1992    693.420786
                        1997    792.449960
                        2002    672.038623
                        2007    469.709298
Name: gdpPercap, Length: 1704, dtype: float64

--------------------------------------------------

ğŸ“Œ ê¸°ëŒ€ ìˆ˜ëª…ì˜ ìµœì†Ÿê°’
country      continent  year
Afghanistan  Asia       1952    28.801
                        1957    30.332
                        1962    31.997
                        1967    34.020
                        1972    36.088
                                 ...
Zimbabwe     Africa     1987    62.351
                        1992    60.377
                        1997    46.809
                        2002    39.989
                        2007    43.487
Name: lifeExp, Length: 1704, dtype: float64

--------------------------------------------------

ğŸ“Œ ì—¬ëŸ¬ í†µê³„ëŸ‰ í•œ ë²ˆì— ë³´ê¸° (mean, max, min)
                              mean     max     min
country     continent year
Afghanistan Asia      1952  28.801  28.801  28.801
                      1957  30.332  30.332  30.332
                      1962  31.997  31.997  31.997
                      1967  34.020  34.020  34.020
                      1972  36.088  36.088  36.088
...                            ...     ...     ...
Zimbabwe    Africa    1987  62.351  62.351  62.351
                      1992  60.377  60.377  60.377
                      1997  46.809  46.809  46.809
                      2002  39.989  39.989  39.989
                      2007  43.487  43.487  43.487

[1704 rows x 3 columns]

In [47]:
# ê¸°ëŒ€ìˆ˜ëª… í‰ê· ì´ ê°€ì¥ ë‚®ì€ êµ­ê°€ëŠ”? ëŒ€ë¥™ì€?

# êµ­ê°€ë³„ ê¸°ëŒ€ìˆ˜ëª… í‰ê·  ê³„ì‚°
life_by_country = df.groupby('country')['lifeExp'].mean()

# í‰ê·  ê¸°ëŒ€ìˆ˜ëª…ì´ ê°€ì¥ ë‚®ì€ êµ­ê°€ ì°¾ê¸°
life_by_country.sort_values().head(1)

# ëŒ€ë¥™ë³„ ê¸°ëŒ€ìˆ˜ëª… í‰ê·  ê³„ì‚°
life_by_continent = df.groupby('continent')['lifeExp'].mean()

# í‰ê·  ê¸°ëŒ€ìˆ˜ëª…ì´ ê°€ì¥ ë‚®ì€ ëŒ€ë¥™ ì°¾ê¸°
life_by_continent.sort_values().head(1)


print("êµ­ê°€ë³„ê¸°ëŒ€ìˆ˜ëª…", life_by_country)
print("==" * 30)
print("ëŒ€ë¥™ë³„ê¸°ëŒ€ìˆ˜ëª…", life_by_continent)

êµ­ê°€ë³„ê¸°ëŒ€ìˆ˜ëª… country
Afghanistan           37.478833
Albania               68.432917
Algeria               59.030167
Angola                37.883500
Argentina             69.060417
                        ...
Vietnam               57.479500
West Bank and Gaza    60.328667
Yemen, Rep.           46.780417
Zambia                45.996333
Zimbabwe              52.663167
Name: lifeExp, Length: 142, dtype: float64
============================================================
ëŒ€ë¥™ë³„ê¸°ëŒ€ìˆ˜ëª… continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

continent
Africa    48.86533
Name: lifeExp, dtype: float64