# data/gapminder.tsv 를 읽어 데이터 프레임 만들기

- pip install pandas
- import pandas as pd

In [ ]:
import pandas as pd

# tab으로 구분된 gapminder.tsv 파일을 읽어서 데이터프레임 생성
df = pd.read_csv("data/gapminder.tsv", sep="\t")

# 데이터프레임 상위 5개 행 출력
print(df.head())

# 미리보기

### 데이터프레임 사용

**미리보기 기능 :** 데이터프레임에서 먼저 데이터의 구조와 내용을 빠르게 파악하기 위한 기능

- head(): 데이터프레임의 처음 5개 행을 보여준다 (매개변수로 다른 숫자 지정 가능)
- tail(): 데이터프레임의 마지막 5개 행을 보여준다
- info(): 데이터프레임의 기본 정보 (행/열 개수, 데이터 타입, 메모리 사용량 등)를 표시
- describe(): 수치형 열에 대한 요약 통계량 (평균, 표준편차, 최소/최대값 등)을 계산

In [ ]:
import pandas as pd

df = pd.read_csv("data/gapminder.tsv", sep="\t")

# 1. 상위 5개 행 미리보기
# - head(): 데이터프레임의 처음 5개 행을 보여준다 (매개변수로 다른 숫자 지정 가능)
print(df.head())

# 2. 하위 5개 행 미리보기
# - tail(): 데이터프레임의 마지막 5개 행을 보여준다
print(df.tail())

# 3. 전체 shape(행/열 수) 확인

print(df.shape)  # (행 개수, 열 개수)

# 4. 열 이름만 보기
print(df.columns)

# 5. 간단한 통계 요약
# describe(): 수치형 열에 대한 요약 통계량 (평균, 표준편차, 최소/최대값 등)을 계산
print(df.describe())

# info(): 데이터프레임의 기본 정보 (행/열 개수, 데이터 타입, 메모리 사용량 등)를 표시
print(df.info())

# country 열 추출하기

In [ ]:
df['country']

In [ ]:
type(df["country"])  # pandas.core.series.Series

In [ ]:
df.loc[:,'country']
# 나중에 조건 지정이 많아지면 df.loc[row, col] 형태로 넘어가게 돼.

# 'country', 'continent', 'year' 열 추출하기

In [ ]:
df['continent']

In [ ]:
# 방법 1: df[["열1", "열2", "열3"]] 방식 (가장 많이 씀)
df[["country", "continent", "year"]]

print(df[["country", "continent", "year"]].head())

In [ ]:
df.iloc[0]

In [ ]:
# 방법 2: .loc 사용
df.loc[:, ["country", "continent", "year"]]
# .loc는 행과 열을 동시에 다룰 수 있으니까, 조건 추가하고 싶을 때 유용해.

print(df[["country", "continent", "year"]].head())

# [0], [99] , [-1] 행을 각각 추출하기

In [ ]:
# ✅ 특정 행 추출: .iloc[] 사용

# 0번째 행
print(df.iloc[0])

# 99번째 행
print(df.iloc[99])

# 마지막 행
print(df.iloc[-1])

In [ ]:
# ✅ 여러 행을 동시에 추출하려면?
df_list = df.iloc[[0,99,-1]]

print(df.iloc[[0, 99, -1]])
type(df_list)

In [ ]:
df_list1 = df.iloc[-1]
type(df_list1)

In [ ]:
# 연도와 인구 10건 > 슬라이싱 > 서브셋

import pandas as pd

df = pd.read_csv("data/gapminder.tsv", sep="\t")

# 연도와 인구 서브셋 (열 선택)
subset = df[["year", "pop"]]

# 10건만 보기 (슬라이싱 또는 head)
print(subset.head(10))

In [ ]:
#인구당gdp 마지막 10개 값 추출
df.iloc[-11:-1,5]

In [ ]:
# range() 객체로 행/열 슬라이싱
hang = df.iloc[:, range(1,3)]
print("행 슬라이싱",hang)
yul = df.iloc[range(1,3),:]
print("열 슬라이싱",yul)

# 25.06.17(오후수업)

In [ ]:
df['year'].value_counts()

In [ ]:
# 'year' 열을 기준으로 데이터를 그룹화하고,
# 각 연도별로 'lifeExp' 열의 평균을 계산한다.
df.groupby('year')['lifeExp'].mean()

In [ ]:
# 'year' 열을 기준으로 데이터를 그룹화한 후,
# 각 연도별로 'lifeExp' 열의 **최댓값**을 계산한다.
df.groupby('year')['lifeExp'].max()

In [ ]:
# 'year' 열을 기준으로 데이터를 그룹화한 뒤,
# 각 연도 그룹에서 'lifeExp' 열을 선택하고,
# 각 그룹에서 상위 n개 (기본값 5개)를 반환한다.
# 이 경우에는 `.head()`만 쓰면 기본적으로 5개씩 보여준다.
df.groupby('year')['lifeExp'].head()

In [41]:
df.groupby(['year','continent'])[['lifeExp', 'gdpPercap']].mean()

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [42]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [49]:
# country, continent, year 집계 가능성
# 집계 후, mean(), max(), min() 실습해보기

# country, continent, year 기준으로 그룹화 가능 (복합 키로 그룹핑)
# 각 그룹에 대해 통계량(평균, 최댓값, 최솟값 등)을 계산할 수 있음

# 평균 수명(lifeExp)의 평균값
print("📌 평균 수명(lifeExp)의 평균값")
print(df.groupby(['country', 'continent', 'year'])['lifeExp'].mean())
print("\n" + "-"*50 + "\n")

# GDP의 최대값
print("📌 GDP의 최대값")
print(df.groupby(['country', 'continent', 'year'])['gdpPercap'].max())
print("\n" + "-"*50 + "\n")

# 기대 수명의 최솟값
print("📌 기대 수명의 최솟값")
print(df.groupby(['country', 'continent', 'year'])['lifeExp'].min())
print("\n" + "-"*50 + "\n")

# 여러 집계 함수 한 번에 쓰기 (agg)
print("📌 여러 통계량 한 번에 보기 (mean, max, min)")
print(df.groupby(['country', 'continent', 'year'])['lifeExp'].agg(['mean', 'max', 'min']))

📌 평균 수명(lifeExp)의 평균값
country      continent  year
Afghanistan  Asia       1952    28.801
                        1957    30.332
                        1962    31.997
                        1967    34.020
                        1972    36.088
                                 ...
Zimbabwe     Africa     1987    62.351
                        1992    60.377
                        1997    46.809
                        2002    39.989
                        2007    43.487
Name: lifeExp, Length: 1704, dtype: float64

--------------------------------------------------

📌 GDP의 최대값
country      continent  year
Afghanistan  Asia       1952    779.445314
                        1957    820.853030
                        1962    853.100710
                        1967    836.197138
                        1972    739.981106
                                   ...
Zimbabwe     Africa     1987    706.157306
                        1992    693.420786
                        1997    792.449960
                        2002    672.038623
                        2007    469.709298
Name: gdpPercap, Length: 1704, dtype: float64

--------------------------------------------------

📌 기대 수명의 최솟값
country      continent  year
Afghanistan  Asia       1952    28.801
                        1957    30.332
                        1962    31.997
                        1967    34.020
                        1972    36.088
                                 ...
Zimbabwe     Africa     1987    62.351
                        1992    60.377
                        1997    46.809
                        2002    39.989
                        2007    43.487
Name: lifeExp, Length: 1704, dtype: float64

--------------------------------------------------

📌 여러 통계량 한 번에 보기 (mean, max, min)
                              mean     max     min
country     continent year
Afghanistan Asia      1952  28.801  28.801  28.801
                      1957  30.332  30.332  30.332
                      1962  31.997  31.997  31.997
                      1967  34.020  34.020  34.020
                      1972  36.088  36.088  36.088
...                            ...     ...     ...
Zimbabwe    Africa    1987  62.351  62.351  62.351
                      1992  60.377  60.377  60.377
                      1997  46.809  46.809  46.809
                      2002  39.989  39.989  39.989
                      2007  43.487  43.487  43.487

[1704 rows x 3 columns]

In [47]:
# 기대수명 평균이 가장 낮은 국가는? 대륙은?

# 국가별 기대수명 평균 계산
life_by_country = df.groupby('country')['lifeExp'].mean()

# 평균 기대수명이 가장 낮은 국가 찾기
life_by_country.sort_values().head(1)

# 대륙별 기대수명 평균 계산
life_by_continent = df.groupby('continent')['lifeExp'].mean()

# 평균 기대수명이 가장 낮은 대륙 찾기
life_by_continent.sort_values().head(1)


print("국가별기대수명", life_by_country)
print("==" * 30)
print("대륙별기대수명", life_by_continent)

국가별기대수명 country
Afghanistan           37.478833
Albania               68.432917
Algeria               59.030167
Angola                37.883500
Argentina             69.060417
                        ...
Vietnam               57.479500
West Bank and Gaza    60.328667
Yemen, Rep.           46.780417
Zambia                45.996333
Zimbabwe              52.663167
Name: lifeExp, Length: 142, dtype: float64
============================================================
대륙별기대수명 continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

continent
Africa    48.86533
Name: lifeExp, dtype: float64