<a href="https://colab.research.google.com/github/zzhining/ml_basic/blob/main/pandas_exercise_skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

np.random.seed(0)

# 과제 1
## Q1. 


<div class="alert alert-success">
[문제1]     
    
insurance.csv'파일 읽어서 df에 할당하고, 상위 5개 항목 출력하기
</div>

------------

[힌트]

pd.read_csv()

In [ ]:
import pandas as pd

# data\insurance.csv 파일 읽어서 df에 저장
df = pd.read_csv("data\insurance.csv")

# 상위 5개 항목 출력
print(df.head())

## Q2. 


<div class="alert alert-success">
[문제2]     
    
df의 요약(평균, 4분위수, 전체 갯수 등)정보 확인하기
</div>

------------

In [ ]:
print(df.describe())

## Q3. 


<div class="alert alert-success">
[문제3]     
    
신규 컬럼(double bmi)을 생성하고, bmi의 2배가 되는 값을 할당하기
</div>

------------

In [ ]:
# bmi의 2배 값을 담은 새로운 열 생성
df['double_bmi'] = df['bmi'] * 2

# 확인
print(df[['bmi', 'double_bmi']].head())

## Q4. 


<div class="alert alert-success">
[문제4]     
    
신규 컬럼(debt)을 생성하고, 0으로 채우기
</div>

------------

In [ ]:
df['debt'] = 0


print(df[['debt']].head())

## Q5. 


<div class="alert alert-success">
[문제5]     
    
debt에 0부터 값이 증가하도록 채우기
</div>

------------

In [ ]:
import pandas as pd

df['debt'] = range(len(df))

print(df[['debt']].head(10))

## Q6. 


<div class="alert alert-success">
[문제6]     
    
1번 인덱스의 정보 출력
</div>

------------

[힌트]
iloc



age                  18  
sex                male  
bmi               33.77  
children              1  
smoker               no  
region        southeast  
charges         1725.55  
double bmi        67.54  
debt                  1

In [ ]:
print("인덱스0======",df.iloc[0])


print("인덱스1======",df.iloc[1])

## Q7. 


<div class="alert alert-success">
[문제7]     
    
'double bmi'열 삭제하기
</div>

In [19]:
import pandas as pd
df["double bmi"] = df["bmi"] * 2

# 예시 DataFrame에서 double bmi 열 삭제
df = df.drop("double bmi", axis=1)  
# 또는 df.drop(columns=["double bmi"])
# 또는 df.drop("double bmi", axis=1, inplace=True) 필요하면 inplace=True를 써서 한 줄로 처리해도 돼:

print(df.head())  # 삭제됐는지 확인

   age     sex     bmi  children smoker     region      charges  double_bmi  \
0   19  female  27.900         0    yes  southwest  16884.92400       55.80
1   18    male  33.770         1     no  southeast   1725.55230       67.54
2   28    male  33.000         3     no  southeast   4449.46200       66.00
3   33    male  22.705         0     no  northwest  21984.47061       45.41
4   32    male  28.880         0     no  northwest   3866.85520       57.76

   debt
0     0
1     1
2     2
3     3
4     4

## Q8. 


<div class="alert alert-success">
[문제8]     
    
 'age'열, 'sex'열만 출력하기
</div>

In [21]:
print(df[["age", "sex"]])

      age     sex
0      19  female
1      18    male
2      28    male
3      33    male
4      32    male
...   ...     ...
1333   50    male
1334   18  female
1335   18  female
1336   21  female
1337   61  female

[1338 rows x 2 columns]

In [22]:
# 또는 변수로 따로 저장하고 싶다면:
subset = df[["age", "sex"]]
print(subset)

      age     sex
0      19  female
1      18    male
2      28    male
3      33    male
4      32    male
...   ...     ...
1333   50    male
1334   18  female
1335   18  female
1336   21  female
1337   61  female

[1338 rows x 2 columns]

# 과제2
## Q9.
<div class="alert alert-success">
[문제9]     
    
나이를 1살씩 증가시키기
</div>

In [25]:
print("변경 전:", df["age"].head())  # 먼저 복사해서 따로 저장하거나
df["age"] += 1
print("변경 후:", df["age"].head())

변경 전: 0    21
1    20
2    30
3    35
4    34
Name: age, dtype: int64
변경 후: 0    22
1    21
2    31
3    36
4    35
Name: age, dtype: int64

In [26]:
df["age"] += 1

## Q10.
<div class="alert alert-success">
[문제10]     
    
charges의 표시형식을 소수점 아래 2자리로 바꾸기
</div>

[힌트]

함수 생성, 적용(apply/map)

In [33]:
# ✅ 방법 1: round()
# 🔧 해결 방법: astype(float)으로 숫자로 변환 후 round() 사용

# 문자열을 숫자로 변환한 뒤 소수점 둘째 자리로 반올림
df["charges"] = df["charges"].astype(float).round(2)

# 확인
print(df["charges"].head())


# ✅ 방법 2: apply() + round 함수
# df["charges"] = df["charges"].apply(lambda x: round(x, 2))
# print(df["charges"].head())

# ✅ 방법 3: 문자열 포맷팅
# df["charges"] = df["charges"].apply(lambda x: f"{x:.2f}")
# print(df["charges"].head())

0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: charges, dtype: float64

In [34]:
print("✅ round 사용:")
print(df["charges"].round(2).head())

print("\n✅ apply(lambda x: round(x, 2)) 사용:")
print(df["charges"].apply(lambda x: round(x, 2)).head())

print("\n✅ 문자열 포맷:")
print(df["charges"].apply(lambda x: f"{x:.2f}").head())

✅ round 사용:
0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: charges, dtype: float64

✅ apply(lambda x: round(x, 2)) 사용:
0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: charges, dtype: float64

✅ 문자열 포맷:
0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: charges, dtype: object

## Q11.
<div class="alert alert-success">
[문제11]     
    
컬럼 정렬(알파벳 순서대로) : age, bmi, charges... 순으로 정렬
</div>

[Hint]
sort_index()

## Q12.
<div class="alert alert-success">
[문제12]     
    
값 정렬(age) : 나이 순으로 정렬
</div>

[Hint]
sort_values

## Q13.
<div class="alert alert-success">
[문제13]     
    
나이('age') 평균구하기
</div>

[Hint]
mean

## Q14.
<div class="alert alert-success">
[문제14]     
    
보험료('charges')와 가장 상관관계가 높은 변수는?
</div>

[Hint]
 - 공분산: df.cov()
 - 상관계수: df.corr()

# 과제 3
## Q15.
<div class="alert alert-success">
[문제15]     
    
 남자, 여자가 각각 몇명있는지 구하기
</div>

[Hint]
pd.value_counts

## Q16.
<div class="alert alert-success">
[문제16]     
    
자녀(children)가 3명인 데이터 출력하기
</div>

## Q16.
<div class="alert alert-success">
[문제16]     
    
자녀(children)가  5명 이상인 데이터 출력하기
</div>

## Q17.
<div class="alert alert-success">
[문제17]     
    
 bmi가  17 미만인 데이터 출력하기
</div>

# 과제 4 
## Q18.
<div class="alert alert-success">
[문제18]     
    
성별에 따른 보험료 평균
</div>

## Q19.
<div class="alert alert-success">
[문제19]     
    
흡연여부에 따른 보험료 평균
</div>

## Q20.
<div class="alert alert-success">
[문제20]     
    
지역별 보험료 평균
</div>

## Q21.
<div class="alert alert-success">
[문제21]     
    
흡연여부 + 지역별 데이터 평균
</div>

## Q22.
<div class="alert alert-success">
[문제22]     
    
 흡연여부 + 지역별 데이터 평균에서 'charges' 만 츨력하기
</div>

## Q23.
<div class="alert alert-success">
[문제23]     
    
 흡연여부 + 지역별 데이터 크기(size)
</div>

## Q24.
<div class="alert alert-success">
[문제24]     
    
smoker 여부에 따라, group_val 컬럼에 '흡연자', '비흡연자' 표시하기
</div>