<a href="https://colab.research.google.com/github/zzhining/ml_basic/blob/main/pandas_exercise_skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

np.random.seed(0)

# 과제 1
## Q1. 


<div class="alert alert-success">
[문제1]     
    
insurance.csv'파일 읽어서 df에 할당하고, 상위 5개 항목 출력하기
</div>

------------

[힌트]

pd.read_csv()

In [ ]:
import pandas as pd

# data\insurance.csv 파일 읽어서 df에 저장
df = pd.read_csv("data\insurance.csv")

# 상위 5개 항목 출력
print(df.head())

## Q2. 


<div class="alert alert-success">
[문제2]     
    
df의 요약(평균, 4분위수, 전체 갯수 등)정보 확인하기
</div>

------------

In [ ]:
print(df.describe())

## Q3. 


<div class="alert alert-success">
[문제3]     
    
신규 컬럼(double bmi)을 생성하고, bmi의 2배가 되는 값을 할당하기
</div>

------------

In [ ]:
# bmi의 2배 값을 담은 새로운 열 생성
df['double_bmi'] = df['bmi'] * 2

# 확인
print(df[['bmi', 'double_bmi']].head())

## Q4. 


<div class="alert alert-success">
[문제4]     
    
신규 컬럼(debt)을 생성하고, 0으로 채우기
</div>

------------

In [ ]:
df['debt'] = 0


print(df[['debt']].head())

## Q5. 


<div class="alert alert-success">
[문제5]     
    
debt에 0부터 값이 증가하도록 채우기
</div>

------------

In [ ]:
import pandas as pd

df['debt'] = range(len(df))

print(df[['debt']].head(10))

## Q6. 


<div class="alert alert-success">
[문제6]     
    
1번 인덱스의 정보 출력
</div>

------------

[힌트]
iloc



age                  18  
sex                male  
bmi               33.77  
children              1  
smoker               no  
region        southeast  
charges         1725.55  
double bmi        67.54  
debt                  1

In [ ]:
print("인덱스0======",df.iloc[0])


print("인덱스1======",df.iloc[1])

## Q7. 


<div class="alert alert-success">
[문제7]     
    
'double bmi'열 삭제하기
</div>

In [ ]:
import pandas as pd
df["double bmi"] = df["bmi"] * 2

# 예시 DataFrame에서 double bmi 열 삭제
df = df.drop("double bmi", axis=1)  
# 또는 df.drop(columns=["double bmi"])
# 또는 df.drop("double bmi", axis=1, inplace=True) 필요하면 inplace=True를 써서 한 줄로 처리해도 돼:

print(df.head())  # 삭제됐는지 확인

## Q8. 


<div class="alert alert-success">
[문제8]     
    
 'age'열, 'sex'열만 출력하기
</div>

In [ ]:
print(df[["age", "sex"]])

In [ ]:
# 또는 변수로 따로 저장하고 싶다면:
subset = df[["age", "sex"]]
print(subset)

# 과제2
## Q9.
<div class="alert alert-success">
[문제9]     
    
나이를 1살씩 증가시키기
</div>

In [ ]:
print("변경 전:", df["age"].head())  # 먼저 복사해서 따로 저장하거나
df["age"] += 1
print("변경 후:", df["age"].head())

In [ ]:
df["age"] += 1

## Q10.
<div class="alert alert-success">
[문제10]     
    
charges의 표시형식을 소수점 아래 2자리로 바꾸기
</div>

[힌트]

함수 생성, 적용(apply/map)

In [ ]:
# ✅ 방법 1: round()
# 🔧 해결 방법: astype(float)으로 숫자로 변환 후 round() 사용

# 문자열을 숫자로 변환한 뒤 소수점 둘째 자리로 반올림
df["charges"] = df["charges"].astype(float).round(2)

# 확인
print(df["charges"].head())


# ✅ 방법 2: apply() + round 함수
# df["charges"] = df["charges"].apply(lambda x: round(x, 2))
# print(df["charges"].head())

# ✅ 방법 3: 문자열 포맷팅
# df["charges"] = df["charges"].apply(lambda x: f"{x:.2f}")
# print(df["charges"].head())

In [ ]:
print("✅ round 사용:")
print(df["charges"].round(2).head())

print("\n✅ apply(lambda x: round(x, 2)) 사용:")
print(df["charges"].apply(lambda x: round(x, 2)).head())

print("\n✅ 문자열 포맷:")
print(df["charges"].apply(lambda x: f"{x:.2f}").head())

## Q11.
<div class="alert alert-success">
[문제11]     
    
컬럼 정렬(알파벳 순서대로) : age, bmi, charges... 순으로 정렬
</div>

[Hint]
sort_index()

In [ ]:
import pandas as pd

# data\insurance.csv 파일 읽어서 df에 저장
df = pd.read_csv("data/insurance.csv")

df = df.sort_index(axis=1)


print(df.columns)

## Q12.
<div class="alert alert-success">
[문제12]     
    
값 정렬(age) : 나이 순으로 정렬
</div>

[Hint]
sort_values

In [ ]:
df = df.sort_values(by="age")

# df = df.sort_values(by="age", ascending=False) #내림차순 , ascending=False 추가

print(df[["age"]].head())

## Q13.
<div class="alert alert-success">
[문제13]     
    
나이('age') 평균구하기
</div>

[Hint]
mean

In [ ]:
average_age = df["age"].mean()

print(average_age.round(2))  # 평균을 소수점 둘째 자리까지

## Q14.
<div class="alert alert-success">
[문제14]     
    
보험료('charges')와 가장 상관관계가 높은 변수는?
</div>

[Hint]
 - 공분산: df.cov()
 - 상관계수: df.corr()

In [ ]:
correlations = df.corr(numeric_only=True) #숫자형 컬럼만 상관계수 계산

print(correlations["charges"].sort_values(ascending=False))

In [ ]:
df["smoker"] = df["smoker"].map({"yes": 1, "no": 0})
correlations = df.corr(numeric_only=True)
print(correlations["charges"].sort_values(ascending=False))

# 과제 3
## Q15.
<div class="alert alert-success">
[문제15]     
    
 남자, 여자가 각각 몇명있는지 구하기
</div>

[Hint]
pd.value_counts

In [23]:
# 방법 1: pandas 모듈의 최상위 함수 value_counts()를 직접 사용
print(pd.value_counts(df["sex"]))
# → Series를 인자로 넘겨줌
# → 내부적으로는 df["sex"].value_counts()와 동일하게 동작
# ✅ 하지만 이 방식은 비권장(deprecated 가능성 있음), 일반적으로는 잘 안 씀

# 방법 2: Series 객체(df["sex"])의 메서드 value_counts() 사용 (추천 방식)
print(df["sex"].value_counts())
# → Series에서 바로 호출하는 메서드
# → 가독성도 좋고, 코드 스타일 측면에서도 더 일반적이고 명확함
# ✅ 실무 및 교육 자료에서도 이 방식이 더 널리 사용됨

sex
male      676
female    662
Name: count, dtype: int64
sex
male      676
female    662
Name: count, dtype: int64

C:\Users\Admin\AppData\Local\Temp\ipykernel_18664\2849007331.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(df["sex"]))

In [24]:
df["sex"] = df["sex"].str.lower()
print(df["sex"].value_counts())

sex
male      676
female    662
Name: count, dtype: int64

## Q16.
<div class="alert alert-success">
[문제16]     
    
자녀(children)가 3명인 데이터 출력하기
</div>

In [ ]:
print(df[df["children"] == 3])

      age     bmi      charges  children     region     sex  smoker
1204   18  27.280  18223.45120         3  southeast  female       1
369    18  30.400   3481.86800         3  northeast    male       0
1195   19  27.930  18838.70366         3  northwest  female       0
1186   20  35.625  37465.34375         3  northwest    male       1
586    21  20.235   3861.20965         3  northeast    male       0
...   ...     ...          ...       ...        ...     ...     ...
480    63  41.325  15555.18875         3  northwest    male       0
1079   63  33.660  15161.53440         3  southeast    male       0
908    63  39.800  15170.06900         3  southwest    male       0
378    64  30.115  16455.70785         3  northwest  female       0
603    64  39.050  16085.12750         3  southeast  female       0

[157 rows x 7 columns]
      age     sex  children      charges
1204   18  female         3  18223.45120
369    18    male         3   3481.86800
1195   19  female         3  18838.70366
1186   20    male         3  37465.34375
586    21    male         3   3861.20965
...   ...     ...       ...          ...
480    63    male         3  15555.18875
1079   63    male         3  15161.53440
908    63    male         3  15170.06900
378    64  female         3  16455.70785
603    64  female         3  16085.12750

[157 rows x 4 columns]
157

In [31]:
# 원하는 컬럼만 보려면 이렇게도 가능:
print(df[df["children"] == 3][["age", "sex", "children", "charges"]])

# .shape로 몇 명인지 개수도 확인할 수 있어:
print(df[df["children"] == 3].shape[0])  # 총 몇 명인지

      age     sex  children      charges
1204   18  female         3  18223.45120
369    18    male         3   3481.86800
1195   19  female         3  18838.70366
1186   20    male         3  37465.34375
586    21    male         3   3861.20965
...   ...     ...       ...          ...
480    63    male         3  15555.18875
1079   63    male         3  15161.53440
908    63    male         3  15170.06900
378    64  female         3  16455.70785
603    64  female         3  16085.12750

[157 rows x 4 columns]
157

## Q16.
<div class="alert alert-success">
[문제16]     
    
자녀(children)가  5명 이상인 데이터 출력하기
</div>

In [33]:
print(df[df["children"] >= 5])

      age     bmi      charges  children     region     sex  smoker
32     19  28.600   4687.79700         5  southwest  female       0
984    20  30.115   4915.05985         5  northeast    male       0
166    20  37.000   4830.63000         5  southwest  female       0
413    25  23.900   5080.09600         5  southwest    male       0
1245   28  24.300   5615.36900         5  southwest    male       0
71     31  28.500   6799.45800         5  northeast    male       0
640    33  42.400   6666.24300         5  southwest    male       0
877    33  33.440   6653.78860         5  southeast    male       0
1130   39  23.870   8582.30230         5  southeast  female       0
937    39  24.225   8965.79575         5  northwest  female       0
969    39  34.320   8596.82780         5  southeast  female       0
1085   39  18.300  19023.26000         5  southwest  female       1
1116   41  29.640   9222.40260         5  northeast    male       0
1272   43  25.520  14478.33015         5  southeast    male       0
425    45  24.310   9788.86590         5  southeast    male       0
932    46  25.800  10096.97000         5  southwest    male       0
568    49  31.900  11552.90400         5  southwest  female       0
438    52  46.750  12592.53450         5  southeast  female       0

In [36]:
# 인원 수만 알고 싶다면?
print(df[df["children"] >= 5].shape[0])

18

In [35]:
# 컬럼 일부만 보고 싶다면?
print(df[df["children"] >= 5][["age", "children", "charges"]])

      age  children      charges
32     19         5   4687.79700
984    20         5   4915.05985
166    20         5   4830.63000
413    25         5   5080.09600
1245   28         5   5615.36900
71     31         5   6799.45800
640    33         5   6666.24300
877    33         5   6653.78860
1130   39         5   8582.30230
937    39         5   8965.79575
969    39         5   8596.82780
1085   39         5  19023.26000
1116   41         5   9222.40260
1272   43         5  14478.33015
425    45         5   9788.86590
932    46         5  10096.97000
568    49         5  11552.90400
438    52         5  12592.53450

## Q17.
<div class="alert alert-success">
[문제17]     
    
 bmi가  17 미만인 데이터 출력하기
</div>

In [38]:
print(df[df["bmi"] < 17])

      age     bmi     charges  children     region     sex  smoker
172    18  15.960  1694.79640         0  northeast    male       0
428    21  16.815  3167.45585         1  northeast  female       0
1226   38  16.815  6640.54485         2  northeast    male       0

In [41]:
# 몇 명인지 확인하고 싶으면?
print(df[df["bmi"] < 17].shape[0])

3

In [40]:
# 특정 컬럼만 보고 싶으면?
print(df[df["bmi"] < 17][["age", "bmi", "charges"]])

      age     bmi     charges
172    18  15.960  1694.79640
428    21  16.815  3167.45585
1226   38  16.815  6640.54485

# 과제 4 
## Q18.
<div class="alert alert-success">
[문제18]     
    
성별에 따른 보험료 평균
</div>

## Q19.
<div class="alert alert-success">
[문제19]     
    
흡연여부에 따른 보험료 평균
</div>

## Q20.
<div class="alert alert-success">
[문제20]     
    
지역별 보험료 평균
</div>

## Q21.
<div class="alert alert-success">
[문제21]     
    
흡연여부 + 지역별 데이터 평균
</div>

## Q22.
<div class="alert alert-success">
[문제22]     
    
 흡연여부 + 지역별 데이터 평균에서 'charges' 만 츨력하기
</div>

## Q23.
<div class="alert alert-success">
[문제23]     
    
 흡연여부 + 지역별 데이터 크기(size)
</div>

## Q24.
<div class="alert alert-success">
[문제24]     
    
smoker 여부에 따라, group_val 컬럼에 '흡연자', '비흡연자' 표시하기
</div>