# 25.06.20(금) 오전수업

In [ ]:
import pandas as pd

In [ ]:
# df = pd.read_csv('C:/githome/3week-hipython/data/vehicle_prod.csv')
df = pd.read_csv('./data/vehicle_prod.csv')

df

In [ ]:
df1 = df.rename(columns={'Unnamed: 0':'country'})
df1

In [ ]:
df1.set_index('country', inplace=True)
df1

In [ ]:
#국가명 컬럼으로 인덱스 설정하고 데이터프레임 생성
df = pd.read_csv('./data/vehicle_prod.csv', index_col=0)
df

| 코드             | 반환 타입       | 형태  | 설명                               |
| -------------- | ----------- | --- | -------------------------------- |
| `df['2007']`   | `Series`    | 1차원 | 해당 컬럼만 뽑아서 \*\*열 벡터(1차원)\*\*로 추출 |
| `df[['2007']]` | `DataFrame` | 2차원 | 하나의 열이더라도 \*\*표 형태(2차원)\*\*로 추출  |

In [ ]:
df['2007'] #2007 만 꺼내기

In [ ]:
df[['2007']]

In [ ]:
df.columns.tolist()

In [ ]:
df['2007'].tolist()

In [ ]:
df.describe()

# 상관분석

- 변수들간의 값의 변화의 유사도
- 음(-)의 상관관계 : 서로 반대 방향으로 변화, 증가 > 감소, 감소 > 증가
- 양(+)의 상관관계 : 서로 같은 방향으로 변화, 증가 > 증가, 감소 > 감소

In [ ]:
df.corr()

In [ ]:
# 🔹 1. 숫자형 열만 골라서 상관계수 계산하기

df.select_dtypes(include='number').corr()

In [ ]:
print(df.columns.tolist())


# 🛠 팁: 컬럼명 자동 복사/변환

for col in df.columns:
    print(f"'{col}',")

### 2007 ~ 2011 년까지의 생산량을 합한 total_production 컬럼을 생성해보자.

In [ ]:
# 2007 ~ 2011 년까지의 생산량을 합한 total_production 컬럼을 생성해보자.

df['total_production'] = df[['2007', '2008', '2009', '2010', '2011']].sum(axis=1)
# axis=1은 **가로 방향(=행 기준)**으로 합산하겠다는 의미입니다.

### total 행으로 추가 해보기

In [ ]:
# total 행으로 추가 해보기

# 국가별 생산량 + total_production 모두 합산한 시리즈 만들기
total_row = df[['2007', '2008', '2009', '2010', '2011', 'total_production']].sum()

# 인덱스를 'total'로 설정해 DataFrame에 행 추가
df.loc['total'] = total_row
# df.loc['total'] = ... 방식은 DataFrame에 새로운 행을 추가하는 방법

In [ ]:
# 1. 생산량 합계 컬럼 추가
df['total_production'] = df[['2007', '2008', '2009', '2010', '2011']].sum(axis=1)

# 2. 총합 total 행 추가
df.loc['total'] = df[['2007', '2008', '2009', '2010', '2011', 'total_production']].sum()

# 3. 확인
print(df.tail())  # 마지막 행(total)이 잘 추가되었는지 확인

In [ ]:
# 시리즈 생성
month_se = pd.Series(['1월', '2월', '3월', '4월'])
income_se = pd.Series([9500, 6200, 6050, 7000])
expenses_se = pd.Series([5040, 2350, 2300, 4800])

# 데이터프레임 생성
store_df = pd.DataFrame({
    '월': month_se,
    '수입': income_se,
    '지출': expenses_se
})

#순수입 컬럼 추가하기
store_df['순수입'] = store_df['수입'] - store_df['지출']
print(store_df)
# ✅ 1. eval() 함수 사용하기
store_df['순수입'] = store_df.eval('수입 - 지출')


print(store_df)

# 시각화

In [ ]:
#국가명 컬럼으로 인덱스 설정하고 데이터프레임 생성
df = pd.read_csv('./data/vehicle_prod.csv', index_col=0)
#df.rename(columns={'Unnamed: 0': 'Country'}, inplace=True)
df

### 🔹 plot.line()
- 기본적으로 인덱스를 x축, 열(column)들을 y축으로 하는 꺾은선 그래프를 그립니다.

In [ ]:
df.plot.line()

### 🔹 plot.bar()
- 각 국가(행)의 데이터를 막대그래프로 표현
- 기본적으로 행 인덱스가 x축, **열 값들이 막대(y축)**로 나옵니다

### 🔹 ax.set_xlabel(), ax.set_ylabel()
```
matplotlib에서 사용하는 축 레이블 설정 코드입니다.
즉,
x축: 국가 이름
y축: 생산량 (단위는 데이터에 따라 다름)
```

In [ ]:
ax = df.plot.bar()
ax.set_xlabel('Country')
ax.set_ylabel('Production')

### ✅ 1. df.transpose()
.transpose()는 행과 열을 바꾸는 함수예요.

즉, 국가명이 원래 인덱스였다면, 그게 열 이름이 되고,
연도(2007, 2008, ...) 컬럼들이 행 인덱스가 됩니다.

### ✅ 2. plot.line()
위처럼 연도를 행 인덱스로, 국가명을 열로 바꾼 구조에서

.plot.line()을 쓰면 각 국가의 연도별 생산량 추세선을 그릴 수 있어요.

In [ ]:
df_year = df.transpose()
df_year.plot.line()

In [ ]:
import pandas as pd

# 1. 인덱스로 바로 읽기
df = pd.read_csv('C:/githome/3week-hipython/data/vehicle_prod.csv', index_col=0)

# 2. 컬럼 확인
print("인덱스 이름:", df.index.name)
print("컬럼 목록:", df.columns.tolist())

# 3. 데이터 확인
print(df.head())

# 결측치 np.nan, pd,NA

In [ ]:
import numpy as np
np.nan == 0

In [ ]:
x = [1,2, np.nan, 4]
x

In [ ]:
import pandas as pd
pd.NA
pd.isna(x)

In [ ]:
pd.NA == np.nan

In [ ]:
pd.isnull(np.nan)

In [ ]:
import pandas as pd
import numpy as np

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'age': [25, np.nan, 30, 22, np.nan],
    'score': [90, 85, np.nan, 88, 95],
    'city': ['Seoul', 'Busan', np.nan, 'Incheon', 'Seoul']
}

df = pd.DataFrame(data)
df

In [ ]:
#결측치 갯수 확인
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.info

In [ ]:
df

# 결측치 제거

In [ ]:
# 결측치 제거
df.dropna() # 행전체 제거

In [ ]:
df.dropna(axis=1) # 열전체제거

In [ ]:
df

In [ ]:
df.dropna(subset=['score'])  #해당컬럼의 na가 있는 행을 삭제

# 채우기

In [ ]:
df['age'].fillna(0)

# 수치형 변수의 경우는 대표값 : 평균, 중앙값, 최빈값

In [ ]:
df['age'].mean()

In [ ]:
df['age'].fillna(df['age'].mean())

In [ ]:
df['age'].mean()

# 중앙값, 최빈값
- median(), mode()

In [ ]:
df['age'].fillna(df['age'].median())

In [ ]:
df['age'].fillna(df['age'].mode())

In [ ]:
df['age'].mode().iloc[0]

In [ ]:
df['age'].fillna(df['age'].mode().iloc[0])

In [ ]:
#직전값ffill, 직후값 bfill
df['score'].fillna(method='ffill')

In [ ]:
pd.__version__

In [ ]:
df['score'].ffill() #직전 값으로 채우기

In [ ]:
df['score'].bfill() #직후 값으로 채우기

In [ ]:
df['age']<30

In [ ]:
df['age']

In [ ]:
df['age'].mask(df['age']<30, 30)  #컬럼의 값에 조건을 주어, 대체할 때 사용

In [ ]:
titanic_df = pd.read_csv('./data/titanic.csv')
titanic_df.head()

In [ ]:
titanic_df.info()

### 결측치가 있는 컬럼 확인

In [ ]:
#결측치가 있는 컬럼 확인
pd.isna(titanic_df).sum()

In [ ]:
import pandas as pd

# 예: 타이타닉 데이터 불러오기
titanic_df = pd.read_csv('./data/titanic.csv')

# 1. 컬럼별 결측치 개수 확인
print("#",titanic_df.isnull().sum())

# 2. 결측치가 아예 없는 컬럼은 제외하고 보기
print("##2##")
print(titanic_df.isnull().sum()[titanic_df.isnull().sum() > 0])

# 3. 결측치가 있는 컬럼만 보기 (비율 포함)
missing_info = titanic_df.isnull().mean() * 100
print("###3###")
print(missing_info[missing_info > 0].sort_values(ascending=False))

### 📊 시각화로 보기 (선택사항)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.heatmap(titanic_df.isnull(), cbar=False)
plt.title('Missing Values in Titanic Dataset')
plt.show()

In [ ]:
# 📌 1. 컬럼별 결측치 개수 확인
# NaN(결측값)이 있는 컬럼을 확인하고, 몇 개인지 세어본다
titanic_df.isnull().sum()

In [ ]:
# 📌 2. 'Age' 컬럼의 평균 나이 확인
# 나이 결측치를 채우기 전에 평균을 확인해보자
titanic_df['Age'].mean()

In [ ]:
# 📌 3. 'Age' 컬럼의 중앙값(중위수) 확인
# 평균이 아닌 중간값도 함께 확인해보자 (이건 이상치 영향을 덜 받음)
titanic_df['Age'].median()

In [ ]:
# 📌 4. 'Age' 결측치를 중앙값으로 대체
# 결측치를 중앙값으로 채워서 머신러닝 모델 학습에 활용할 수 있게 정리
titanic_df['Age'].fillna(titanic_df['Age'].median(), inplace=True)

In [ ]:
# 📌 5. 결측치 대체 후 데이터 상태 확인
# 결측치가 잘 채워졌는지, 전체 데이터에 어떤 컬럼이 있고 몇 개의 데이터가 있는지 확인
titanic_df.info()

### 대체후 값 검증

In [ ]:
# 📌 6. 결측치 대체 후 평균값 다시 확인
# 결측치를 중앙값으로 채운 후에도 평균이 어떻게 바뀌었는지 비교해본다
titanic_df['Age'].mean()

In [ ]:
# 📌 7. 나이 분포 시각화 (히스토그램)
# 나이가 어떻게 분포되어 있는지 시각적으로 확인 (x축: 나이, y축: 사람 수)
titanic_df['Age'].plot(kind='hist', bins=20)

### cabin='unknown'

In [ ]:
#cabin='unknown'
titanic_df['Cabin'].fillna('Unknown', inplace=True)
titanic_df.info()

In [ ]:
titanic_df['Cabin'].value_counts().head(5) #top-5 count

In [ ]:
#Embarked 의 최빈값으로 채우기
titanic_df['Embarked'].value_counts().head()

In [ ]:
titanic_df['Embarked'].mode()

In [ ]:
titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0], inplace=True)
titanic_df.info()

In [ ]:

# 원래는 선실 번호가 들어 있는 컬럼인데, 누락된 데이터가 많아서 빈칸을 'Unknown'으로 표시
titanic_df['Cabin'].fillna('Unknown', inplace=True)


# 처리 전: 결측치 개수 확인
print(titanic_df['Cabin'].isnull().sum())

# 처리
titanic_df['Cabin'].fillna('Unknown', inplace=True)

# 처리 후: 결측치가 사라졌는지 확인
print(titanic_df['Cabin'].isnull().sum())

# 전처리 연습

In [ ]:
df = pd.read_csv('./data/CARD_SUBWAY_MONTH_202102.csv', index_col= False)
df.info()

In [ ]:
df.head()

In [ ]:
df.tail()

### ✅ 질문 1: len(df) 와 df.count() 는 뭐가 달라요?

| 코드           | 설명                     | 출력값 의미              |
| ------------ | ---------------------- | ------------------- |
| `len(df)`    | **전체 행 수(총 데이터 건수)**   | NaN 포함한 **전체 행의 수** |
| `df.count()` | **컬럼별로 NaN이 아닌 값의 개수** | 결측치가 있는 컬럼은 작게 나옴   |

In [ ]:
#총몇건인지 코드로 확인

len(df)         # → 1000 (총 1000개 행)
df.count()      # → 각 컬럼마다 결측치 제외하고 몇 건 있는지 보여줌

In [ ]:
#평균, 표준편차, 사분위수 등 주요 통계 지표를 확인하세요
df.describe()

In [ ]:
#몇 개의 컬럼이 있는지, 각 컬럼에 포함된 데이터들의 타입은 무엇인지 확인해보세요.

# 몇 개의 컬럼이 있는지 확인
print("컬럼 개수:", len(df.columns))

# 각 컬럼에 포함된 데이터 타입 확인
print("컬럼별 데이터 타입:")
print(df.dtypes)

| 코드                | 기능              | 출력 예시                          |
| ----------------- | --------------- | ------------------------------ |
| `len(df.columns)` | 컬럼 수 반환         | `7` → 총 7개의 컬럼                 |
| `df.dtypes`       | 각 컬럼의 데이터 타입 확인 | `int64`, `object`, `float64` 등 |

### 📌 참고로 자주 나오는 pandas 타입들

| 타입           | 의미             |
| ------------ | -------------- |
| `object`     | 문자열 (또는 혼합 타입) |
| `int64`      | 정수형            |
| `float64`    | 실수형            |
| `datetime64` | 날짜/시간형         |

| 함수               | 의미                                    |
| ---------------- | ------------------------------------- |
| `unique()`       | 중복 없이 고유한 값들만 리스트 형태로 출력              |
| `nunique()`      | 고유값의 **개수** 반환                        |
| `value_counts()` | 각 값이 **몇 번 나오는지** 카운트해서 보여줌 (내림차순 정렬) |

In [ ]:
#‘노선명’ 컬럼이 가지고 있는 데이터의 종류를 확인하세요

# '노선명' 컬럼에 어떤 값들이 있는지 확인 (고유값)
print(df['노선명'].unique())

# '노선명'의 고유값 개수
print("노선 종류 개수:", df['노선명'].nunique())

# 각 노선별 데이터 수(빈도수) 확인
print(df['노선명'].value_counts())

# ‘승차총승객수’ 컬럼을 기준으로 데이터를 정렬하세요

- .sort_values()

In [ ]:
# 📌 '승차총승객수'를 기준으로 내림차순 정렬
df_sorted = df.sort_values(by='승차총승객수', ascending=False)

# 상위 5개 행 확인
print(df_sorted.head())

# 오름차순 정렬 (작은 수부터)
df_sorted = df.sort_values(by='승차총승객수', ascending=True)

In [ ]:
#‘2호선’만 선택하세요.

# '노선명'이 '2호선'인 행만 선택
line2_df = df[df['노선명'] == '2호선']

# 결과 확인
print(line2_df.head())

In [ ]:
# ‘승차총승객수가’이 50000명 이상인 로우의 ‘역명’을 확인하세요.

# 승차총승객수가 50,000명 이상인 행에서 '역명' 컬럼만 추출
popular_stations = df[df['승차총승객수'] >= 50000]['역명']

# 결과 확인
print(popular_stations)

In [ ]:
# ‘등록일자’ 컬럼을 삭제하세요

# ✅ 1단계: 현재 컬럼명 확인
print(df.columns.tolist())
# ['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '승하차총승객수차이']

# ✅ 2단계: 공백 제거 (예방용)
df.columns = df.columns.str.strip()  # 열 이름 앞뒤 공백 제거

# ✅ 3단계: 다시 컬럼 삭제 시도
# '등록일자' 컬럼을 삭제 (원본 df에 바로 반영)
if '등록일자' in df.columns:
    df.drop(columns='등록일자', inplace=True)


# 결과 확인
print(df.head())

In [ ]:
#'승차총승객수’와 ‘하차총승객수’ 컬럼의 차이를 계산한 ‘승하차총승객수차이’ 컬럼을 생성하세요.

# 승차총승객수와 하차총승객수의 차이 계산해서 새로운 컬럼 생성
df['승하차총승객수차이'] = abs(df['승차총승객수'] - df['하차총승객수'])

# 결과 확인
print(df[['노선명', '역명', '승차총승객수', '하차총승객수', '승하차총승객수차이']].head())

In [ ]:
# '승하차총승객수차이' 컬럼의 평균값 계산
mean_value = df['승하차총승객수차이'].mean()

# 결과 출력
print("승하차총승객수차이의 평균값:", mean_value)

In [ ]:
# 전체 중 10개의 아이템을 샘플링해서 데이터프레임을 생성하세요.
#.sample()
sample_df = []
# 이건 빈 리스트(empty list) 를 만드는 코드입니다.
# 아무 데이터도 없고, pandas와는 관련 없는 Python 기본 리스트 타입
#  데이터프레임이 아니라서 .head() 같은 pandas 함수 사용 불가
print(type(sample_df))  # <class 'list'>

# 전체 데이터 중에서 무작위로 10개 행 샘플링
sample_df = df.sample(n=10, random_state=42)  # random_state는 결과 재현용
# 전체의 10% 샘플링 비율로 추출하고싶을 때 활용
# df.sample(frac=0.1)  

# 결과 확인
print(sample_df)

In [ ]:
#sample_df의 ‘노선명’ 컬럼의 값이 1호선, 2호선, 3호선 4호선을 영어(line1, line2, line3, line4)로 변경하세요

# 한글 노선명을 영어로 바꿀 매핑 딕셔너리 생성
line_mapping = {
    '1호선': 'line1',
    '2호선': 'line2',
    '3호선': 'line3',
    '4호선': 'line4'
}

# sample_df의 '노선명' 컬럼에 매핑 적용
sample_df['노선명'] = sample_df['노선명'].map(line_mapping).fillna(sample_df['노선명'])

# 결과 확인
print(sample_df[['노선명', '역명']])

In [ ]:
# 인덱스를 '사용일자'로 바꾸어 설정해보기

# '사용일자' 컬럼을 인덱스로 설정
df.set_index('사용일자', inplace=True)

# 결과 확인
print(df.head())
print(df.index.name)  # 인덱스가 잘 설정됐는지 확인

In [ ]:
# '사용일자' 컬럼을 연도-월-일(예:2021-02-01)의 형태로 표시되도록 수정하세요.
# UDF 정의 getData(data)

def getDate(data):
    dt = str(data)
    yy = dt[0:4]
    mm = dt[4:6]
    dd = dt[6:8]
    return yy+'-'+mm+'-'+dd

d='20210303'
getDate(d)

In [204]:
df = pd.read_csv('./data/CARD_SUBWAY_MONTH_202102.csv')

print(df.columns.tolist())


df.columns = df.columns.str.strip()

def getDate(data):
    dt = str(data)
    yy = dt[0:4]
    mm = dt[4:6]
    dd = dt[6:8]
    return yy + '-' + mm + '-' + dd

df['사용일자'] = df['사용일자'].apply(getDate)
df['사용일자'] = pd.to_datetime(df['사용일자'], format='%Y-%m-%d')

['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자']

ValueError: time data "중앙선--" doesn't match format "%Y-%m-%d", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.