# 복합자료 리스트

여러개의 값을 묶어서 하나의 변수로 다루는 자료형

생성법
1. [ ] 대괄호를 사용
2. 데이터는 , 쉼표로 구분
3. [ ] 빈 대괄호는 초기화
4. 숫자, 문자, 부울, 리스트 같은 객체 모두 담을 수 있다
5. 순서 index를 가진다 0시작
6. 음수 인덱스도 가진다

In [1]:
score = [30,50,90,80,100]
score[0] #첫번째 학생의 점수

30

In [3]:
type(score), type(score[0])

(list, int)

In [4]:
dir(score)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
ra = range(2,20,2)  #숫자의 배열, 순열

In [12]:
num_list = list(ra) #생성자
num_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
num_list[-1]

9

In [14]:
ra.__len__()

9

In [16]:
num_list.count(2)

1

method와 function

1. method : 객체의 한해서 동작하는 함수 > 객체명.함수()
2. function : 함수( 매개변수 ) > 매개변수로 동작하는 함수

dir() > function   
list_obj.__len__() > method

In [18]:
str_1 = 'hello'
str_1[0] = 'H' #TypeError > str Immutable

TypeError: 'str' object does not support item assignment

In [20]:
str_2 = list(str_1) #문자열 > 문자열리스트
str_2[0] = 'H'
str_2.

['H', 'e', 'l', 'l', 'o']

In [21]:
str(str_2)

"['H', 'e', 'l', 'l', 'o']"

In [22]:
''.join(str_2)

'Hello'

In [23]:
# 리스트의 생성
a = list()
a = []
b = [1,2,3,4,5]
c = ['aaa', 'bbb', 'ccc']
d = [1,2,'aaa','bbb']
e = [c,d]
e

[['aaa', 'bbb', 'ccc'], [1, 2, 'aaa', 'bbb']]

In [25]:
e[0], type(e[0])

(['aaa', 'bbb', 'ccc'], list)

In [26]:
e[1], e[-1]

([1, 2, 'aaa', 'bbb'], [1, 2, 'aaa', 'bbb'])

In [28]:
e[1][2],  e[0:1]

('aaa', [['aaa', 'bbb', 'ccc']])

In [29]:
e[1][:2]

[1, 2]

In [30]:
score = [[1,2], [3,4]]
score

[[1, 2], [3, 4]]

복사
1. 얕은 복사 shallow copy
2. 깊은 복사 deep copy

In [32]:
new_score = score[:]  #얕은카피
new_score[0][0] = 100
new_score

[[100, 2], [3, 4]]

In [33]:
score

[[100, 2], [3, 4]]

In [34]:
import copy
copied = copy.copy(score)
copied[0][1] = 99
copied

[[100, 99], [3, 4]]

In [35]:
score

[[100, 99], [3, 4]]

In [36]:
deepcopied = copy.deepcopy(score)
deepcopied[1][0] = 100
deepcopied

[[100, 99], [100, 4]]

In [37]:
score

[[100, 99], [3, 4]]

# 리스트의 연산

- `+` __add__()
- `*` __mul__()
- del list[항목]
- in list -> True/False

In [38]:
lunch1 = ['해물라면', '샐러드', '떡뽁이']
lunch2 = ['오무라이스', '볶음밥', '떡뽁이', '제육볶음', '주먹밥']
lunch1+lunch2

['해물라면', '샐러드', '떡뽁이', '오무라이스', '볶음밥', '떡뽁이', '제육볶음', '주먹밥']

In [40]:
lunch1*2

['해물라면', '샐러드', '떡뽁이', '해물라면', '샐러드', '떡뽁이']

In [42]:
del lunch1[0]

In [43]:
lunch1

['샐러드', '떡뽁이']

In [46]:
# lunch1과 lunch2를 합하고 '떡뽁이' 1개를 제외하세요
lunch3 = lunch1+lunch2
del lunch3[1]
lunch3

['샐러드', '오무라이스', '볶음밥', '떡뽁이', '제육볶음', '주먹밥']

In [47]:
'떡뽁이' in lunch3

True

In [55]:
# 간식박스 관리 프로그램 1
snack_box = ['초코파이']
new_snack = input('먹고 싶은 간식을 추가하세요.  단, 쉼표(,)로 연결하세요').split(',')
snack_box += new_snack

먹고 싶은 간식을 추가하세요.  단, 쉼표(,)로 연결하세요 홈런볼, 사이다

In [56]:
snack_box

['초코파이', '홈런볼', ' 사이다']

In [57]:
# 간식박스 관리 프로그램 2
qty = int(input('간식박스 몇 세트로 포장할까요? 예: 2 -> 2box'))

간식박스 몇 세트로 포장할까요? 예: 2 -> 2box 2

In [58]:
snack_box *= qty
snack_box

['초코파이', '홈런볼', ' 사이다', '초코파이', '홈런볼', ' 사이다']

In [59]:
print(f'주문하신 간식상자는 {snack_box[0]},{snack_box[1]},{snack_box[2]} 등입니다. 확인해주세요.')

주문하신 간식상자는 초코파이,홈런볼, 사이다 등입니다. 확인해주세요.

In [63]:
# 간식박스 관리 프로그램 3
msg = f'혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~{len(snack_box)-1})'
snack_no = int(input(msg))

혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~5) 1

In [65]:
del snack_box[snack_no]

In [ ]:
# 간식박스 관리 프로그램 4
# 찾고 싶은 간식번호를 입력하세요
# 있어요 OR 없어요 출력

## 25.05.30(오전수업)


| 메서드                  | 사용 예시                    | 설명                |
| -------------------- | ------------------------ | ----------------- |
| append(x)          | lst.append(4)          | 맨 뒤에 x 추가       |
| insert(i, x)       | lst.insert(1, "a")     | i 위치에 x 삽입    |
| extend(iter)       | lst.extend([4, 5])     | 리스트에 여러 값 추가      |
| remove(x)          | lst.remove("a")        | x와 일치하는 첫 항목 삭제 |
| pop()              | lst.pop()              | 마지막 항목 제거하고 반환    |
| pop(i)             | lst.pop(0)             | i번째 항목 제거하고 반환  |
| clear()            | lst.clear()            | 리스트 전체 비우기        |
| index(x)           | lst.index("a")         | x의 위치(인덱스) 반환   |
| count(x)           | lst.count("a")         | x의 개수 세기        |
| sort()             | lst.sort()             | 오름차순 정렬 (원본 변경)   |
| sort(reverse=True) | lst.sort(reverse=True) | 내림차순 정렬           |
| reverse()          | lst.reverse()          | 항목 순서 뒤집기         |
| copy()             | lst2 = lst.copy()      | 리스트 복사            |

# 연산자


- 비식별연산자
1. 수치연산 : 사칙연산
    add() -> 특별메소드를 정의하고 객체에서 쓸 수 있다
   숫자일 때는 기본 연산
   형변환이 자동으로 일어난다 int+float > float, int/int > float
2. 대입연산 : assign, 할당 `=`
   변수 = 값
   자기 자신에게 대입하는 연산 > +=, -=, *=, /= > ( ) 가 자동으로 적용
5. 비교연산
   `=` 와 `==`
   `!=` `>=` `<=`

   리스트의 비교 `==` > 내용이 같은가?   
   리스트의 비교 `is` > 주소가 같은가?
   
   리스트의 주소 `id()` 값이 같은지를 비교 > 메모리 영역이 같은가?
   
7. 논리연산
    and, or, not
   &, &&, |, !
   
   
- 식별 연산자
  1. is , is not

In [ ]:
lunch1 = ['주먹밥', '치킨', '칼국수']
lunch2 = ['주먹밥', '치킨', '칼국수']
lunch1 == lunch2  #값의 비교

In [ ]:
id(lunch1) == id(lunch2)

In [ ]:
lunch1 is lunch2 # 주소를 비교

In [2]:
a=5
#a = a + 5
a += 5

In [4]:
a=5
b=2
a*= 2 + b # a= 5 * (2 + 2)  
a

20

In [51]:
# sample 자료 

students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]
print(students)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 0, 'avg': 0.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 0, 'avg': 0.0, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 0, 'avg': 0.0, 'order': 0}]

In [26]:
students[0]['total'] = students[0]['kor']+students[0]['eng']+students[0]['math']
students[1]['total'] = students[1]['kor']+students[1]['eng']+students[1]['math']
students[2]['total'] = students[2]['kor']+students[2]['eng']+students[2]['math']

print(students[0]['name'],"총점(total)", students[0]['total'])
print(students[1]['name'],"총점(total)", students[1]['total'])
print(students[2]['name'],"총점(total)", students[2]['total'])

students[0]['avg'] = students[0]['total'] / 3
students[1]['avg'] = students[1]['total'] / 3
students[2]['avg'] = students[2]['total'] / 3


print(students[0]['name'], "평균(avg)", students[0]['avg']) 
print(students[1]['name'],"평균(avg)", students[1]['avg']) 
print(students[2]['name'],"평균(avg)", students[2]['avg'])

김철수 총점(total) 255
박제동 총점(total) 265
홍길동 총점(total) 240
김철수 평균(avg) 85.0
박제동 평균(avg) 88.33333333333333
홍길동 평균(avg) 80.0

In [53]:
# for 문에서는 리스트의 요소를 하나씩 꺼낼 수 있다. : in 키워드
for student in students : # 0,1,2 : 0 > 1 > 2
    student['total'] = (student['kor'] + student['eng'] + student['math'])
    student['total']

print(student)

{'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}

In [29]:
# 먼저 total 과 avg 계산

for student in students:
    student['total'] = student['kor'] + student['eng'] + student['math']
    student['avg'] = student['total'] / 3

# total을 기준으로 내림차순 정렬한 새 리스트 생성
sorted_students = sorted(students, key=lambda x: x['total'], reverse=True)

# 순위를 매겨서 원래 students 데이터에 반영
for i, student in enumerate(sorted_students):
    student['order'] = i +1 # 1등부터 시작 의미함.

# 결과 출력
for student in sorted_students:
    print(f"{student['name']} 총점: {student['total']} 평균: {student['avg']:.2f} 등수:{student['order']}")

박제동 총점: 265 평균: 88.33 등수:1
김철수 총점: 255 평균: 85.00 등수:2
홍길동 총점: 240 평균: 80.00 등수:3

In [32]:
# students order
for student in students : # students[0] 자료를 꺼낸 것이 student
    rank = 1
    for other in students :
        if other['total'] > student['total'] : 
            rank += 1
    student['order'] = rank
    print(student['name'], student['order'])

김철수 2
박제동 1
홍길동 3

In [44]:
for student in students:
    print(student['name'], student['order'], student['total'], student['avg'])

김철수 2 255 85.0
박제동 1 265 88.33333333333333
홍길동 3 240 80.0

In [43]:
lunch1 = ['주먹밥', '치킨', '칼국수']
lunch2 = ['주먹밥', '치킨', '칼국수']
lunch1 == lunch2

# 리스트 내용 비교 (값 비교)
print("리스트 내용 같나요? →", lunch1 == lunch2)


# 리스트가 같은 객체인가? (id 비교)
print("같은 객체인가요? →", id(lunch1) == id(lunch2))


# 각각의 id 출력
print("lunch1의 id:", id(lunch1))
print("lunch2의 id:", id(lunch2))

리스트 내용 같나요? → True
같은 객체인가요? → False
lunch1의 id: 1291078585344
lunch2의 id: 1291078225920

# 리스트에 많이 쓰이는 내장함수들

type(),
sorted(),
dir(),
id(),
len(),
sum(), max(), min()

In [50]:
# 리스트 예제
numbers = [5, 3, 8, 1, 4]

# 1. type() - 자료형 확인
print("1. type(numbers):", type(numbers))

# 2.sorted() - 정렬 (원본은 그대로, 정렬된 새 리스트 반환)
print("2. sorted(numbers):", sorted(numbers)) # 오름차순
print(" sorted(numbers, resvers=True):", sorted(numbers, reverse=True)) # 내림차순
print(" 원본리스트:", numbers) # 원본은변하지않음

# 3. dir() - 사용가능한 함수나 속성 목록보기
print("3. dir(numbers):")
print(dir(numbers)) #리스트가 가진 함수들을 쭉 보여줌

# 4. id() - 객체 고유 주소(메모리 위치) 보기
print("4. id(numbers):", id(numbers))

# 5. len() - 요소개수
print("5. len(numbers):", len(numbers)) # 5개

# 6. sum() - 총합
print("6. sum(numbers):", sum(numbers)) #5+3+8+1+4 = 21 

# 7.max() - 최대값
print("7. max(numvers):", max(numbers)) #8

# 8.min() - 최소값
print("8. min(numbers):", min(numbers)) #1

1. type(numbers): <class 'list'>
2. sorted(numbers): [1, 3, 4, 5, 8]
 sorted(numbers, resvers=True): [8, 5, 4, 3, 1]
 원본리스트: [5, 3, 8, 1, 4]
3. dir(numbers):
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
4. id(numbers): 1291079446720
5. len(numbers): 5
6. sum(numbers): 21
7. max(numvers): 8
8. min(numbers): 1

In [60]:
# 리스트 퀴즈

Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

Q3. 다음 리스트 L의 순서를 아래와 같이 변경하시오. (힌트: pop())

변경 전 

[1, 3, 5, 7, 9]  

변경 후

[3, 5, 7, 9, 1]

SyntaxError: invalid syntax (2996676616.py, line 3)

In [61]:
Q1 = [1,3,5,4,2]
Q1.sort(reverse=True) # 내림차순 정렬
print("Q1 정답", Q1)

Q1 정답 [5, 4, 3, 2, 1]

In [58]:
Q2 = ['Life', 'is', 'too', 'short']
result = " ".join(Q2)
print("Q2 정답", result)

Q2 정답 Life is too short

In [63]:
Q3 = [1,3,5,7,9]

#pop(0) 은 첫요소를 제거하면서 반환
#append() 는 리스트 끝에 다시 추가해주는 함수

first = Q3.pop(0)
Q3.append(first)
print("Q3 정답:", Q3)

Q3 정답: [3, 5, 7, 9, 1]