# 자료형 비교

| 항목       | 리스트 `[]`  | 딕셔너리 `{}`      | 튜플 `()`     | 세트 `set()`          |
| -------- | --------- | -------------- | ----------- | ------------------- |
| 변경 가능성   | ✅ mutable | ✅ mutable      | ❌ immutable | ✅ mutable (내용)      |
| 구분 기호    | `[]`      | `{key: value}` | `()`        | `{값, 값}` 또는 `set()` |
| 순서       | ✅ 있음      | ✅ 있음 (3.7 이후)  | ✅ 있음        | ❌ 없음 (정렬 안 됨)       |
| 중복 허용    | ✅ 허용      | ❌ 키 중복 불가      | ✅ 허용        | ❌ 허용 안 함            |
| 인덱싱/슬라이싱 | ✅ 가능      | ❌ 키로 접근        | ✅ 가능        | ❌ 불가능               |
| 주요 용도    | 순차적 자료 보관 | 키-값 쌍 저장       | 고정된 값 묶음    | 집합 연산, 중복 제거        |

1. 리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.

In [4]:
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]

#답을 작성하세요.

a = numbers[0] + numbers[9]
print(a)

b = numbers[0] + numbers[-1]
print(b)

c = numbers[0] + numbers[len(numbers) - 1] # len()을 활용해 마지막 요소 동적 접근, 리스트길이와 무관하게 사용가능!
print(c)

110
110
110

2. 리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.

In [15]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
#답을 작성하세요.
# list[start:end]
print(colors[:3])
print(colors[0:3])

print(colors[-2:])
print(colors[5:])

['red', 'green', 'blue']
['red', 'green', 'blue']
['orange', 'black']
['orange', 'black']

3. 다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing

In [27]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]
#답을 작성하세요.
print(list_a)
print(list_a[2])
print(list_a[2][1])

for sub in list_a:
    for item in sub:
        #print(item)
        if item == "korean" :
            print(item)

[[1, 2, 3], ['red', 'green', 'blue'], [False, 'korean', True]]
[False, 'korean', True]
korean
korean

In [ ]:
4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.

In [25]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_c = [list_a] + [list_b]
print(list_c)
list_c = list_a + list_b
print("방법1",list_c)
list_c= list_a.copy() #원본 보호를 위해 copy()
list_c.extend(list_b)
print("방법2",list_c)

[[1, 2, 3], [4, 5, 6]]
방법1 [1, 2, 3, 4, 5, 6]
방법2 [1, 2, 3, 4, 5, 6]

5. 아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.

In [28]:
tuple_a = ("apple", "banana", "cherry")

list_a = list(tuple_a)
list_a[1] = 'blueberry'
tuple(list_a)

('apple', 'blueberry', 'cherry')

6. 변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.

In [29]:
a = 5
b = 10
c = 15

tuple_a = (a,b,c)
tuple_a

(5, 10, 15)

7. 튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.

In [32]:
numbers = (92, 89, 72, 31, 71, 33, 19)
#dir(numbers)

max(numbers), min(numbers)

(92, 19)

8. dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.

- name: "Alice"
- age: 24
- major: "Computer Science"

In [33]:
student = {}
student["name"] = "Alice"
student["age"] = 24
student["major"] = "Computer Science"
student

{'name': 'Alice', 'age': 24, 'major': 'Computer Science'}

9. 위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요

In [36]:
student.items()

dict_items([('name', 'Alice'), ('age', 24), ('major', 'Computer Science')])

In [37]:
student.keys()

dict_keys(['name', 'age', 'major'])

In [38]:
student.values()

dict_values(['Alice', 24, 'Computer Science'])

In [40]:
for k, v in student.items():
    print(f'{k}:{v}')

name:Alice
age:24
major:Computer Science

10. 위에서 생성한 student에서, age(나이)를 26으로 변경하세요.

In [43]:
student['age'] = 26
student

{'name': 'Alice', 'age': 26, 'major': 'Computer Science'}

In [ ]:
11. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요

In [44]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

name_list = [info["name"] for info in students.values()]
age_tuple = tuple(info["age"] for info in students.values())

print(name_list)   # ['Alice', 'Bob', 'Charlie']
print(age_tuple)   # (24, 22, 23)

['Alice', 'Bob', 'Charlie']
(24, 22, 23)

In [49]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

# 이름과 나이를 저장할 빈 리스트 생성
name_list = []  # → 이름을 저장할 리스트
age_list = []   # → 나이를 저장할 리스트

# students 딕셔너리의 키만 꺼내서 반복 (student1, student2, student3)
for key in students.keys():
    stu = students[key]  # 해당 키의 값 (즉, {"name": ..., "age": ...}) 를 가져옴
    name_list.append(stu['name'])  # name 값 리스트에 추가
    age_list.append(stu['age'])    # age 값 리스트에 추가

# 나이 리스트를 튜플로 변환
age_tuple = tuple(age_list)

# 결과 출력
print("name_list =", name_list)     # ['Alice', 'Bob', 'Charlie']
print("age_tuple =", age_tuple)     # (24, 22, 23)

name_list = ['Alice', 'Bob', 'Charlie']
age_tuple = (24, 22, 23)