
# 복합자료형 - 튜플
### 25.06.02(4주차) 오전수업

# 튜플
리스트랑 비슷, 값 변경이 안되는 특징을 갖는다.

In [3]:
a = tuple()
a, type(a)

((), tuple)

In [5]:
b = (1)
b, type(b)

(1, int)

In [6]:
bb = (1, )
bb, type(bb)

((1,), tuple)

In [8]:
c= (1,2,(3,4),'5')
print(type(c),c)

<class 'tuple'> (1, 2, (3, 4), '5')

In [9]:
c[0]

1

In [12]:
c[0] = 3
# 튜플은 값을 변경하지는 못한다. typeError 발생하게됨.

TypeError: 'tuple' object does not support item assignment

In [13]:
# 튜플의 () 괄호는 생략해도 된다.
# 쉼표로 요소는 하나 이상이어야 한다.
fruits = '사과', '복숭아', '딸기'
fruits, type(fruits)

(('사과', '복숭아', '딸기'), tuple)

In [14]:
# 패킹, 언패킹

nums = [1,2,3] 
a,b,c = nums #unpacking
a,b,c

(1, 2, 3)

In [16]:
a

1

In [23]:
# s = 'hello'
s = 'hi'
a,b = s 
print(a)
print(b)
print(a,b)
# 문자열 언패킹 문제 
# hello는 문자 5개인데, 변수는 2개 그래서 할당할 수 없어서 에러 발생하는 것

h
i
h i

In [25]:
s = 'hello'
# s = 'hi'
a,b = s 
print(a)
print(b)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [35]:
student = ('홍길동', 20, '1학년') # 패킹
print("패킹출력",student)

name, age, grade = student # 언패킹
print("언패킹출력",f'이름은 {name} 이고요, 나이는 {age}, {grade}학년입니다.')

패킹출력 ('홍길동', 20, '1학년')
언패킹출력 이름은 홍길동 이고요, 나이는 20, 1학년학년입니다.

In [37]:
# 미션
x = 1
y = 2

# x=2, y=1 이 나오게 해보기
x,y = y,x # 변수 스왑 방식

print("x = ", x)
print("y = ", y)

x =  2
y =  1

In [40]:
# 미션
# 임시 변수 사용((전통적인방식)

x = 1
y = 2

# x=2, y=1 이 나오게 해보기
temp = x 
x = y
y = temp

print("x = ", x)
print("y = ", y)

x =  2
y =  1

In [51]:
# 함수의 정의 def
def func_a (a,b,c) :
    return c, b, a 
print(type(func_a),",",func_a)
# 함수의 호출
result = func_a (5,4,3)
# 함수의 반환값
result

<class 'function'> , <function func_a at 0x000001CB502809A0>

(3, 4, 5)

In [52]:
# tutple에 값을 추가하려면?
# 형변환 하면됨 > tuple 에서 list 로 

# def append_to_tuple(t, value):
#    return tuple(list(t) + [value])

name_tuple = ('가연', '지훈', '지희')
name_tuple

('가연', '지훈', '지희')

In [53]:
name_list = list(name_tuple)
name_list

['가연', '지훈', '지희']

In [54]:
name_list.append('유석')
name_list

['가연', '지훈', '지희', '유석']

In [55]:
name_tuple=tuple(name_list)
name_tuple

('가연', '지훈', '지희', '유석')

In [56]:
# def append_to_tuple(t, value):
#    return tuple(list(t) + [value])

In [59]:
# 한줄, 연산자 활용하면 더욱 간편하게 추가 가능하다.
name_tuple = ('가연', '지훈', '지희')
name_tuple = tuple(list(name_tuple) + ['유석'])
print(name_tuple)  # ('가연', '지훈', '지희', '유석') 출력가능

('가연', '지훈', '지희', '유석')

# 집합(Set)
- set(), {}
- 중복이 안된다. 순서도 없다. 키도 없다. (중복된 값은 자동으로 제거되는 특징
- 속도가 빠르다. 해싱을 하는 자료형 (딕셔너리, 집합)

In [60]:
s = set([1,2,3,])
s

{1, 2, 3}

In [62]:
s1 = {1,2,3}
s1

{1, 2, 3}

In [63]:
s2 = {1,2,3,1}
s2

{1, 2, 3}

In [64]:
l2 = [1,2,3]
l2 = l2 * 2
l2

[1, 2, 3, 1, 2, 3]

In [65]:
# set 으로 중복제거 
s3 = set(l2)
s3

{1, 2, 3}

In [67]:
l3 = l2 +[4,5,6]
l3

[1, 2, 3, 1, 2, 3, [4, 5, 6], 4, 5, 6]

SyntaxError: invalid syntax (229937232.py, line 1)

In [69]:
hash('hi') #해시코드

2575585714152325033

In [70]:
hash(123)

123

In [71]:
l1 = [1,2,3]
hash(l1)

TypeError: unhashable type: 'list'

In [72]:
hash((1,2,3))

529344067295497451

# set 집합 연산

- 교집합 &, intersection()
- 합집합 | , union()
- 차집합 -, difference()

In [74]:
s = set([1,2,3,4])
x = {2,3,4}
y = {3,4,5}

In [81]:
# 교집합 (intersection() )
print(x & y)
print(x.intersection(y))

{3, 4}
{3, 4}

In [82]:
# 합집합 union()
print(x | y)
print(x.union(y))

{2, 3, 4, 5}
{2, 3, 4, 5}

In [86]:
# 차집합 difference()
print(x - y)
print(x.difference(y))

{2}
{2}