# 반복문 for / while

### 25.06.02(오후수업)

for 변수 in 반복자 :

반복자에는 리스트, 문자열, 튜플, 딕셔너리, 세트(집합)

In [1]:
data = [0,1,2,3,4]

for var in data:
    print(var)

0
1
2
3
4

In [2]:
range(1,10)

range(1, 10)

In [3]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [4]:
# 튜플, 딕셔너리, str 연습.

In [5]:
number = (1,2,3,4)
stu = {'name':'lee', 'age':30}

In [6]:
sum=0
for n in number :
    sum += n
sum

10

In [9]:
for k,v in stu.items() :
    print(k,v)

name lee
age 30

In [10]:
ran = range(1,10)
type(ran)

range

In [11]:
list(ran)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
type(list(ran))

list

# range(1,10,2)
start, stop, step=1 default

In [14]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [19]:
# 1 - 100 합구하기
sum1 = 0
for i in range(1,101):
    sum1 += i
print(sum1)

5050

In [23]:
# 3의 배수의 합 (1~100)
sum2 = 0
for i in range(3,100,3):
    sum2 += i

print("3의 배수의합:", sum2)

3의 배수의합: 1683

In [25]:
# 3의 배수의 합 (1~100)
sum3 = 0
for i in range(1,101):
    if (i%3) == 0:
        sum3 += i 

print("3의 배수의합:", sum3)

3의 배수의합: 1683

In [26]:
char_list = ['a', 'b', 'c']

for x in char_list:
    print(x)

a
b
c

In [27]:
for i, v in enumerate(char_list):
    print(i,v)

0 a
1 b
2 c

In [29]:
char_list_2 = ['hello', 'hi' , 'good-bye']
zip(char_list, char_list_2)

In [30]:
for item in zip(char_list, char_list_2):
    print(item)

('a', 'hello')
('b', 'hi')
('c', 'good-bye')

In [37]:
# 99단 출력해보기

# 2 x 1 = 2
# 2 x 2 = 4

for rnrn in range(2,10):
    for i in range(1,10):
        print(f'{rnrn} x {i} = {rnrn * i}')
    print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [36]:
# 99단 출력해보기

# 2 x 1 = 2
# 2 x 2 = 4

rnrn = 2

for i in range(1,10):
    print(f'{rnrn} x {i} = {rnrn * i}')
print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [38]:
movie_dict = {'미션임파서블' :4, '미치광이삐에로':5, '씨너스':3, '울지않는아이':2}
for k,v in movie_dict.items():
    print(f'영화 {k}의 평점 : { 'ㅁ'*v}')

영화 미션임파서블의 평점 : ㅁㅁㅁㅁ
영화 미치광이삐에로의 평점 : ㅁㅁㅁㅁㅁ
영화 씨너스의 평점 : ㅁㅁㅁ
영화 울지않는아이의 평점 : ㅁㅁ

In [39]:
# 삼각형 만들어보기
for i in range(1,6):
    for j in range(i):
        print('💗', end='')
    print()

💗
💗💗
💗💗💗
💗💗💗💗
💗💗💗💗💗

            💗
         💗💗💗
      💗💗💗💗💗
   💗💗💗💗💗💗💗
💗💗💗💗💗💗💗💗💗

# while 문

In [ ]:
# sum = 0
# for i in range(6):
#     sum += 1
# sum

In [ ]:
# i=0
# while True :
#     if i>6:
#         break
#     sum += i
#     i +=1

In [ ]:
# while i<6 :
#     i += 1
#     sum += i
# sum

In [ ]:
sum(range(1,7))

# 리스트 컴프리헨션
### 25.06.04
`[  리스트요소 for <1개>  in <반복범위>  ]`

In [ ]:
numbers = [1,2,3,4,5]
squares = [ num*2 for num in numbers ]
squares

In [ ]:
## 조건식 + for 가 결합한 리스트 컴프리헨션 
test_list = []

for x in range(10):
    if x<5:
        test_list.append(x*2)
    else :
        test_list.append(x)
test_list

In [ ]:
[ x*2 if x<5 else x for x in range(10) ]

In [ ]:
[ x for x in range(10) if x< 5 ]

In [ ]:
#리스트 컴프리헨션을 이용한 변환, 필터

In [ ]:
#로또 번호 당첨 여부 확인
my_numbers = [3, 11, 17, 23, 38, 42]
win_numbers = [7, 14, 23, 32, 38, 45]

for num in my_numbers:
    if num in win_numbers:
        print(f"🎉 당첨 번호 있음! ({num})")
        break
else:
    print("😢 꽝입니다.")

In [ ]:
matched = [ num for num in my_numbers if num in win_numbers ] 
if matched :
    print(matched)
else:
    print("😢 꽝입니다.")  
print(f' 당첨' if matched else f'꽝')

# 이터러블 & 제너레이터
### 25.06.05 
- iterable : for 의 in 에 나올 수 있는 객체의 유형
- iteror
- Generator