# 람다 함수
25.06.09(월) 오전수업

선언 >> lambda <매개변수> : 코드

호출 >> (lambda <매개변수> : 코드) (매개변수값)

In [1]:
def aaa(a) :
    result = a+1
    return result

In [2]:
lambda a : a + 1

In [33]:
(lambda a : a+1)(2) #람다의 정의 즉시 호출

3

In [4]:
my_lambda = lambda a: a+1 #람다의 재정의
my_lambda(3), my_lambda(4), my_lambda(5)

4

In [5]:
def sum1(a,b):
    return a+b

sum1(2,3)

5

In [9]:
(lambda a,b : a+b) (2,3)

5

In [11]:
def calc_func(a,b, opr_func):
    result = opr_func(a,b)
    return result

In [12]:
calc_func(1,2, lambda x,y:x+y)

3

# map 함수

In [15]:
#map 함수
fruits = ['apple', 'banana', 'cherry']

# str.upper
#fruits[0].upper()
list(map(str.upper, fruits))

['APPLE', 'BANANA', 'CHERRY']

In [16]:
list[(str.upper, fruits)]

list[<method 'upper' of 'str' objects>, ['apple', 'banana', 'cherry']]

In [19]:
str_number = '12345'
list(str_number) # 문자열이 들어있는 리스트

['1', '2', '3', '4', '5']

In [20]:
int(list(str_number))

# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# Cell In[20], line 1
# ----> 1 int(list(str_number))
# TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [22]:
numbers = list(map(int, str_number))
numbers

[1, 2, 3, 4, 5]

In [25]:
list(map( lambda x:x**2, numbers))

[1, 4, 9, 16, 25]

In [27]:
kor_score = [1, 2, 3]
eng_score = [4, 5, 6]

# 두 점수 리스트의 합계 리스트 만들기
total_scores = list(map(lambda x, y: x + y, kor_score, eng_score))

# 평균, 최대값, 최솟값 계산
avg = sum(total_scores) / len(total_scores)
max_val = max(total_scores)
min_val = min(total_scores)

# 출력
print("총합 리스트:", total_scores)
print("평균:", avg)
print("최댓값:", max_val)
print("최솟값:", min_val)

총합 리스트: [5, 7, 9]
평균: 7.0
최댓값: 9
최솟값: 5

In [32]:
list(map(lambda s : sum(s), zip(kor_score, eng_score)))

[5, 7, 9]

# 즉, map은 함수 중심, zip은 값 중심이에요.