# 함수
### 25.06.05 오전수업

- 인자 = 매개변수, 입력, 파라미터
- 변환값 = 리턴값, 결과값
- 함수이름

- 함수 정의 > 호출

In [1]:
#definition
def my_func():
    print('my first function')
    print('hello')
    print('good job')

In [2]:
#call
my_func()

my first function
hello
good job

In [3]:
type(my_func)

function

In [4]:
#return 이 없는 경우
my_func_var1 = my_func()

my first function
hello
good job

print(my_func_var1)

In [ ]:
#리턴이 있는 경우
def my_func1():
    print('my first function')
    print('hello')
    print('good job')
    return 'hello'

In [ ]:
my_func1()

In [ ]:
my_func_var2 = my_func1()

In [ ]:
my_func_var2

# 입력값이 있는 함수

In [ ]:
def my_calc(x):
    print(f'{x}를 계산합니다.')

In [ ]:
my_calc(10)

In [ ]:
def my_calc1(x):
    print(f'{x}를 계산합니다.')
    z = x*20
    return z

In [ ]:
result = my_calc1(10)
print(result)

In [ ]:
def my_calc2(x,y):
    print(f'{x}와 {y}를 계산합니다.')
    add_result = x+y
    mul_result = x*y
    return add_result, mul_result

In [ ]:
my_calc2(10,20)

In [ ]:
func_result = my_calc2(10,20)
func_result[0] = 100

In [ ]:
func_result1, f2 = my_calc2(10,20) #unpacking
func_result1

In [ ]:
f2

## 입력값의 타입: 수치형 vs. (리스트) 객체형

- 수치형 : 값에 의한 전달 call by value
- 객체형 : 값(참조)의 전달 call by reference > 같은 객체를 다룬다

In [ ]:
#리스트 매개변수의 실행
def my_calc3(a, lst1):
    a += 1
    lst1.append(a)
    return a

In [ ]:
num = 10
lst_num =  [1,2,'12'] 
print(f'before : {num}, {lst_num}')

my_calc3(num,lst_num)
print(f'after : {num}, {lst_num}')

In [ ]:
my_calc3(lst_num, num)

In [ ]:
my_calc3(a=num, lst1=lst_num)

In [ ]:
my_calc3(lst1=lst_num, a=num, )

In [ ]:
#기본값, 기본인자
def greeting(name, greeting='hello'):
    print(f'{greeting}, {name}님!')

greeting('minsu', 'hello, ')

In [ ]:
greeting('alice', 'hi')

In [ ]:
greeting('bob')

In [ ]:
#가변인자
def sum_all( *args ):
    return sum(args)

In [ ]:
sum_all(1,2,3,4,5)

In [14]:
#def sum_all( arg1, *args , arg2):
def sum_all( arg1, arg2, *args):
    print(args)
    result = arg1+arg2+sum(args)
    return result

In [ ]:
sum_all(1,2,3,4,5)

# 매개변수의 순서가 중요

In [ ]:
## **kargs
def print_info(**kwargs):
    for k,v in kwargs.items():
        print(f'{k}, {v}')

In [ ]:
print_info( name='hong', age=20, city = 'seoul', nick_name='bob' )

In [ ]:
import datetime
today = datetime.date(2025,6,5)
#type(today)
#dir(today)
today.weekday()

In [ ]:
# 요일 구하는 함수 정의
- 입력 : year, month, day
- 출력 : '월요일'
- 함수명 : 요일찾기()

In [ ]:
year=2025
month=6
day=5

In [15]:
# 날짜 - 연,월,일  year=2025 month=06, day=05

total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)
#월일수 입력한 월 -1 * 30
#월별 일수
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    total_days += month_days[m]

#올해가 윤년인지
if month>=3 :
    if year%400 == 0:
        total_days += 1
    elif year%100 == 0:
        total_days += 0
    elif year%4 == 0:
        total_days += 1
    else:
        total_days += 0
        
print(total_days)

#일수 입력한 일
total_days += day

print(total_days)

#요일정하기
remain_days = total_days % 7

if remain_days == 1:
    print('월요일')
elif remain_days == 2:
    print('화요일')
elif remain_days == 3:
    print('수요일')
elif remain_days == 4:
    print('목요일')
elif remain_days == 5:
    print('금요일')
elif remain_days == 6:
    print('토요일')
else:
    print('일요일')

739251
739402
739407
목요일

In [ ]:
def 윤년체크(year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0
   
    if year%400 == 0:
        return True
    elif year%100 == 0:
        return False
    elif year%4 == 0:
        return True
    else:
        return False

In [ ]:
윤년체크(2028)

In [ ]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    total_days = 0
    
    for i in range(1,year):

        if 윤년체크(i):
            total_days += 366
        else :
            total_days += 365
        
    #print(total_days)
    
    #월일수 입력한 월 -1 * 30
    #월별 일수
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for m in range(1,month):
        total_days += month_days[m]
    
    #올해가 윤년인지
    if month>=3 :
        if 윤년체크(year):
            total_days += 1
            
    #print(total_days)
    
    #일수 입력한 일
    total_days += day
    
    #print(total_days)
    
    #요일정하기
    remain_days = total_days % 7
    
    day_names = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
    week_day_name = day_names[remain_days]
    
        
    return week_day_name

In [ ]:
year=2025
month=6
day=4

day_name = 요일찾기(year, month, day)
print(f'입력하신 날짜는 {day_name}입니다.')

In [9]:
year = int(input("연도를 입력하세요 (예: 2025): "))
month = int(input("월을 입력하세요 (예: 6): "))
day = int(input("일을 입력하세요 (예: 5): "))


def is_leap(y):
    return y % 4 == 0 and (y % 100 != 0 or y % 400 == 0)

total_days = 0

# 1. 연도 일수 계산
for i in range(1, year):
    total_days += 366 if is_leap(i) else 365

# 2. 월 일수 계산
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
if is_leap(year):
    month_days[2] = 29

for m in range(1, month):
    total_days += month_days[m]

# 3. 일수 추가
total_days += day

# 4. 요일 계산
weekdays = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일']
remain_days = total_days % 7
print(f"{year}-{month:02d}-{day:02d}는 {weekdays[remain_days]}입니다.")

연도를 입력하세요 (예: 2025):  2025
월을 입력하세요 (예: 6):  7
일을 입력하세요 (예: 5):  8

2025-07-08는 화요일입니다.

# 오후수업 (25.06.05)

In [12]:
def 요일찾기(year,month,day):
    week_day_name ="월요일"

    return week_day_name

In [13]:
year = 2025
month = 6
day = 5

day_name = 요일찾기(year, month, day)
print(f"입력하신 날짜는 {day_name}입니다.")

입력하신 날짜는 월요일입니다.

In [ ]:
# 성적처리 시스템

- calc_total()
- calc_average()
- calc__order()
  
- print_student(students) : 전학생의 성적을 출력
- print_class() : 반평균, 각 과목별 평균 출력

In [19]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

# 총점계산
def calc_total(stus) :
    for s in stus:
        s['total'] = s['kor'] +  s['eng'] +  s['math'] 


#평균계산
def calc_average(stus) :
    for s in stus:
        s["avg"] = round(s["total"] / 3, 2)

# 등수계산
def calc_order(stus):
    sorted_list = sorted(stus, key=lambda x:x["total"], reverse=True)
    for i, s in enumerate(sorted_list):
        s['order'] = i + 1
        # 등수 정보를 원래 리스트에 반영
        for s in stus:
            for temp in sorted_list:
                if s["num"] == temp["num"]:
                    s["order"] = temp["order"]

# 전체 학생 성적 출력
def print_student(stus):
    print("=" * 60)
    print("번호  이름    국어  영어  수학  총점  평균   등수")
    print("-" * 60)
    for s in stus:
        print(f"{s['num']:>3}  {s['name']:<5}  {s['kor']:>3}  {s['eng']:>3}  {s['math']:>3}  {s['total']:>4}  {s['avg']:>5}  {s['order']:>3}")
    print("=" * 60)

# 반평균 및 과목별 평균 출력
def print_class(stus):
    n = len(stus)
    kor_avg = sum(s['kor'] for s in stus) / n
    eng_avg = sum(s['eng'] for s in stus) / n
    math_avg = sum(s['math'] for s in stus) / n
    total_avg = sum(s['total'] for s in stus) / n
    avg_avg = sum(s['avg'] for s in stus) / n

    print("\n[반 평균]")
    print(f"국어 평균: {kor_avg:.2f}")
    print(f"영어 평균: {eng_avg:.2f}")
    print(f"수학 평균: {math_avg:.2f}")
    print(f"총점 평균: {total_avg:.2f}")
    print(f"전체 평균: {avg_avg:.2f}")

# 실행
calc_total(students)
calc_average(students)
calc_order(students)
print_student(students)
print_class(students)

============================================================
번호  이름    국어  영어  수학  총점  평균   등수
------------------------------------------------------------
  1  김철수     90   80   85   255   85.0    2
  2  박제동     90   85   90   265  88.33    1
  3  홍길동     80   80   80   240   80.0    3
============================================================

[반 평균]
국어 평균: 86.67
영어 평균: 81.67
수학 평균: 85.00
총점 평균: 253.33
전체 평균: 84.44