# 300제 파이썬 함수(221~240).ipynb

In [ ]:
# 221. 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.
def print_reverse(string) :
    print(string[::-1])

print_reverse("python")

nohtyp

In [ ]:
# 222. 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

def print_score(score_list) :
    print(sum(score_list)/len(score_list))

print_score ([1,2,3])

2.0

In [ ]:
# 223. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

def print_even (my_list) :
    for v in my_list :
        if v % 2 == 0 :
            print(v)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [8]:
# 224. 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

def print_keys(dic):
    for keys in dic.keys():
        print(keys)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [2]:
# 225. my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key (my_dic, key) :
    print(my_dict[key])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [3]:
# 226. 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])


print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [5]:
# 227. 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1 ) :
        print(line[x * num: x * num + num])

print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [7]:
# 228. 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
# 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

def calc_monthly_salary(annual_pay) :
    monthly_pay = int(annual_pay / 12)
    return monthly_pay

calc_monthly_salary(12000000)

1000000

In [8]:
# 229. 아래 코드의 실행 결과를 예측하라.

def my_print(a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [9]:
# 230. 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

# 파이썬 함수 231 ~ 240

In [ ]:
# 231. 아래 코드를 실행한 결과를 예상하라.

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print(result)


# ---------------------------------------------------------------------------
# NameError                                 Traceback (most recent call last)
# Cell In[10], line 7
#       4     result = n + 1
#       6 n_plus_1(3)
# ----> 7 print(result)

# NameError: name 'result' is not defined


# 함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능합니다. 
# (문법이 그래요) 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용해야 합니다.

NameError: name 'result' is not defined

In [12]:
# 232. 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

def make_url(string) :
    url = "www." + string + ".com"
    return url

make_url("naver")

def make_url(string) :
    return "www." + string + ".com"

In [21]:
# 233. 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

def make_list (string) :
    my_list = []
    for 변수 in string :
        my_list.append(변수)
    return my_list

print("방법1", make_list("abcd"))


def make_list (string) :
    return list(string)


print("방법2", make_list("abcd"))

방법1 ['a', 'b', 'c', 'd']
방법2 ['a', 'b', 'c', 'd']

In [25]:
# 234.숫자로 구성된 하나의 리스트를 입력받아,
# 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [29]:
# 235. 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

def convert_int (string) : return int(string.replace(',',""))

convert_int("1,234,567")

1234567

In [ ]:
# 236. 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)

print(c)

# 4번 라인에서 함수로 10이 입력돼서 14가 반환됩니다. 
# a 변수에는 14가 저장됩니다. 
# 5번 라인에서 함수로 14가 입력돼서 18이 반환됩니다. 
# 변수 b에는 18이 바인딩됩니다. 
# 6번 라인에서 함수로 18가 입력돼서 22가 반환됩니다. 
# 변수 c에는 22가 바인딩됩니다.

22

In [ ]:
# 237. 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

# 함수가 여러번 중첩돼 있습니다. 
# 안쪽 부터 차례로 해석하면 됩니다. 
# 함수(10)의 결과 14, 함수(14) 결과 18, 함수(18) 결과 22 가 반환됩니다. 
# 결국 36번과 동일한 코드를 축약해서 작성해 놓은 겁니다.

22

In [33]:
# 238. 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [34]:
# 239. 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [35]:
# 240. 아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28