In [2]:
# 51. 리스트생성

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

# 52.리스트에 원소 추가
movie_rank.append("베트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [5]:
# 53. 항목추가

movie_rank = ["닥터 스트레인지", "스플릿", "럭키", "베트맨"]
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [6]:
# 54.항목삭제

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '베트맨']

In [8]:
# 55.항목삭제 스플릿과 베트맨 삭제

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '베트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [12]:
# 56. 리스트 합치기
lang1 = ["C", "C++", "JAVA"]
lang2 = ["python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'python', 'Go', 'C#']

In [13]:
# 57. 최댓값과 최솟값 출력하기 (힌트 : min(),max() 함수 사용)

nums = [1,2,3,4,5,6,7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [14]:
# 58. 리스트의 합을 출력

nums = [1,2,3,4,5]
print(sum(nums))

15

In [15]:
# 59. 리스트에 저장된 데이터 개수 화면 출력 len()

cook = ["피자", "김밥" , "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [17]:
# 60. 리스트의 평균 출력

nums = [1,2,3,4,5]
average = sum(nums) / len(nums)
print(average)

3.0

In [21]:
# 61. price 변수에는 날짜와 종가 정보가 저장돼 있다. 
# 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

# 62. 슬라이싱 홀수만 출력
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[::2])

# 63. 슬라이싱 짝수만 출력
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[1::2])

[100, 130, 140, 150, 160, 170]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [22]:
# 64. 슬라이싱 역방향 출력
nums = [1,2,3,4,5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [23]:
# 65.리스트 내에 원하는 항목 출력하기
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [31]:
# 66. join 메서드

interest = ['삼성전자' ,'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("66."," ".join(interest))

# 67. ("/".join(interest))
interest = ['삼성전자' ,'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("67.","/".join(interest))

# 68. print("\n".join(interest))
interest = ['삼성전자' ,'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("68.","\n".join(interest))

66. 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
67. 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
68. 삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [32]:
# 69. 문자열 split 메서드

string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [36]:
# 70. 리스트 정렬
data = [2,4,3,1,5,10,9]
data.sort()
print("70.", data)

date2 = sorted(data)
print("70-1", data)

70. [1, 2, 3, 4, 5, 9, 10]
70-1 [1, 2, 3, 4, 5, 9, 10]