# 파이썬 튜플 ( 71~80)

In [1]:
# 71 my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [6]:
# 72. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 
# 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(type(movie_rank))
print(movie_rank)

<class 'tuple'>
('닥터 스트레인지', '스플릿', '럭키')

In [12]:
# 73. 숫자 1이 저장된 튜플을 생성하라

my_tuple = (1)
type (my_tuple)

# 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해만 합니다.

my_tuple = (1, )
print(my_tuple)
print(type(my_tuple))

(1,)
<class 'tuple'>

In [16]:
# 74. 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1,2,3)
t[0] = 'a'

# TypeError:'tuple' object does not support item assignment
# tuple은 원소(element)의 값을 변경할 수 없습니다.

TypeError: 'tuple' object does not support item assignment

In [23]:
# 75. 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. 
# t가 바인딩하는 데이터 타입은 무엇인가?

t = 1,2,3,4
print(type(t))

# 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 
#사용자 편의를 위해 괄호 없이도 동작합니다.

<class 'tuple'>

In [29]:
# 76. 변수 t에는 아래와 같은 값이 저장되어 있다.
# 변수 t가 (`A`,`b`,`c`) 튜플을 가리키도록 수정하라

t = ('a','b','c')
# 튜플의 값은 변경할 수 없기 때문에, 리스트와 달리 아래 코드는 동작하지 않습니다.
t[0] = 'A'
# 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다.
#기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.
t = ('A','b','c')

TypeError: 'tuple' object does not support item assignment

In [30]:
t = ('a', 'b', 'c')
temp = list(t)     # 튜플 → 리스트
temp[0] = 'A'      # 값 수정
t = tuple(temp)    # 리스트 → 튜플

print(t)  # ('A', 'b', 'c')

('A', 'b', 'c')

In [40]:
# 77. 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK하이닉스')
data = list(interest)  # ← 튜플을 리스트로 변환
print("튜플을 리스트로", type(data), data)  # ← 여기 고쳤음!

# 78. 리스트를 튜플로 변경하라 
interest = ['삼성전자', 'LG전자', 'SK하이닉스']  # ← []리스트로 먼저 설정!
data = tuple(interest)
print("리스트를 튜플로", type(data), data)    # ← 여기 고쳤음!

튜플을 리스트로 <class 'list'> ['삼성전자', 'LG전자', 'SK하이닉스']
리스트를 튜플로 <class 'tuple'> ('삼성전자', 'LG전자', 'SK하이닉스')

In [41]:
# 79. 튜플 언팩킹

temp = ('apple', 'banana', 'cake')
a,b,c = temp
print(a,b,c)

apple banana cake

# 80. range 함수

In [43]:
# 1부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# range(2, 100, 2):
# - 2부터 시작해서
# - 100보다 작을 때까지
# - 2씩 증가하는 숫자들을 생성 (즉, 짝수만 생성)
# 예: 2, 4, 6, ..., 98

# tuple(...) :
# - range로 만들어진 숫자 시퀀스를 튜플로 변환
# - 불변(immutable)한 형태로 짝수 리스트를 저장

data = tuple(range(2, 100, 2))

# 결과 출력: 생성된 짝수 튜플을 화면에 출력
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)