# 파이썬 반복문 171~180

In [1]:
# 171. 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])
# len() 함수를 사용하면 price_list 가 변해도 코드의 수정이 필요없습니다. 아래가 더 좋은 코드입니다.
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500
32100
32150
32000
32500

In [2]:
# 172.리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i,data)

0 32100
1 32150
2 32000
3 32500

In [5]:
# 173. 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

for i in range(len(price_list)):
    print(3, -i, price_list[i])

# 3이라는 숫자보다는 일반적인 형태로 아래와 같이 코딩하는게 좋습니다.

for i in range(len(price_list)):
    print((len(price_list) -1) - i, price_list[i])

3 0 32100
3 -1 32150
3 -2 32000
3 -3 32500
3 32100
2 32150
1 32000
0 32500

In [6]:
# 174. 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]

for i in range(1,4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [9]:
# 175. my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

# for문을 사용하지 않고 인덱싱만을 사용해서 코드를 작성해보면 인덱스간의 규칙관계가 눈에 들어옵니다.
# 같은 행에 있는 두 개의 데이터는 인덱스가 +1 차이납니다.
# 또한 행이 증가할 때마다 인덱스가 +1 씩 증가합니다.

print(my_list[0], my_list[1])
print(my_list[1], my_list[2])
print(my_list[2], my_list[3])

# 분석한 규칙을 바탕으로 반복문을 작성합시다. 
# 아래는 첫 열 "가 나 다" 를 한 라인에 하나씩 출력하는 코드입니다. 
# for 문이 인덱스를 0, 1, 2 차례로 바인딩하고 인덱싱을 사용해 값을 출력합니다.

for i in [0, 1, 2]:
    print(my_list[i])

# 한 행에 두 개의 데이터를 출력하고 싶기 때문에 이전 코드의 print 문에 출력하고 싶은 데이터를 추가합니다.
# 같은 행의 두 데이터는 인덱스 차이가 +1 이라는 것을 잊지마세요. 
# * i가 0일 때는 0, 1 위치의 값이 출력됩니다. 
# * i가 1일 때는 1, 2 위치의 값이 출력됩니다. 
# * i가 2일 때는 2, 3 위치의 값이 출력됩니다.

for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1])

# 위의 코드를 사용해도 원하는 출력값을 얻을 수 있지만 아래는 코드를 보다 일반적인 형태로 변경했습니다. 
# len 함수를 사용한 것을 눈여겨 보세요.

for i in range( len(my_list) - 1 ) :
    print(my_list[i], my_list[i+1])

# 아래와 같이 작성해도 됩니다. 인덱스를 갖고 노는 겁니다. for문을 단계별로 풀어 써가며 확인해보세요.
for i in range( 1, len(my_list) ) :
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라
가
나
다
가 나
나 다
다 라
가 나
나 다
다 라
가 나
나 다
다 라

In [14]:
#176. 리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]

# 인덱싱을 사용해서 코드를 작성해보면 인덱스간의 규칙관계가 눈에 들어옵니다. 
# 같은 행에 있는 두 개의 데이터는 인덱스가 +1 차이납니다. 
# 또한 행이 증가할 때마다 인덱스가 +1 씩 증가합니다. 
# 045번 문제와 다른점은 한 행에 출력되는 데이터가 3개라는 것입니다.

print(my_list[0], my_list[1], my_list[2])
print(my_list[1], my_list[2], my_list[3])
print(my_list[2], my_list[3], my_list[4])

# for문내의 print 문에 출력하고 싶은 값의 위치를 나열합니다. 
# * i가 0일 때는 0, 1, 2 위치의 값이 출력됩니다. 
# * i가 1일 때는 1, 2, 3 위치의 값이 출력됩니다. 
# * i가 2일 때는 2, 3, 4 위치의 값이 출력됩니다.

for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1], my_list[i+2])

# 보다 일반적인 형태로 코드를 변경해 봅시다.
# 아래 세 개의 코드는 모두 동일한 결과를 출력합니다.
# 인덱스를 만들어 내는 것과, 인덱싱의 코드가 변하는 것을 눈여겨 보세요.

for i in range( len(my_list) - 2):
    print(my_list[i], my_list[i+1], my_list[i+2])

for i in range( 1, len(my_list) - 1 ):
    print(my_list[i-1], my_list[i], my_list[i+1])

for i in range( 2, len(my_list) ):
    print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마
가 나 다
나 다 라
다 라 마
가 나 다
나 다 라
다 라 마
가 나 다
나 다 라
다 라 마
가 나 다
나 다 라
다 라 마

In [22]:
# 177.반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

# 어렵다면 우선은 for문을 사용하지 않고 아래와 같이 인덱싱을 사용해서 코드를 작성합니다. 
# 규칙이 눈에 들어오나요?

print(my_list[3], my_list[2])
print(my_list[2], my_list[1])
print(my_list[1], my_list[0])

# 각 라인마다 인덱스가 1씩 감소하고, 같은 라인에서 우측 인덱스는 좌측 보다 1 작다고 분석할 수 있습니다. 이를 코드로 옮기면 아래와 같습니다.

for i in [3,2,1] :
    print("예시1",my_list[i], my_list[i-1])

# 인덱스를 만들어내는 방법에 따라 호출하는 코드가 달라집니다. 
# 우변을 기준으로 인덱스를 만들고 좌변을 접근할 때는 +1 이 필요합니다.

for i in [2,1,0] :
    print("예시-2",my_list[i+1], my_list[i])

for i in [0, 1, 2] :
    print("예시3",my_list[3 - i], my_list[2 - i])

# 일반적인 형태로 코드를 수정하면 아래와 같습니다.
for i in range(len(my_list) - 1, 0, -1):
    print("예시-4", my_list[i], my_list[i-1])

# 인덱스를 만들어내는 방법에 따라 답은 여러개가 될 수 있습니다.

for i in range(len(my_list) - 1):
    print("예시5",my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가
예시1 라 다
예시1 다 나
예시1 나 가
예시-2 라 다
예시-2 다 나
예시-2 나 가
예시3 라 다
예시3 다 나
예시3 나 가
예시-4 라 다
예시-4 다 나
예시-4 나 가
예시5 라 다
예시5 다 나
예시5 나 가

In [23]:
# 178. 리스트에는 네 개의 정수가 저장되어 있다. 
# 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]

# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 
# 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 
# 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

print(abs(my_list[1] - my_list[0]))
print(abs(my_list[1] - my_list[1]))
print(abs(my_list[1] - my_list[2]))

# 인덱스의 관계를 파악했다면 기준으로 사용할 인덱스를 결정합니다. 
# 이번에는 우측에 있는 인덱스를 활용해서 for문을 작성해 보겠습니다.

for i in [0, 1, 2]:
    print(abs(my_list[i+1] - my_list[i]))

for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
0
200

In [24]:
# 179. 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 
# 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]

# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 
# 두 번째 줄에는 200, 400, 800의 평균값이 출력된다.
# 같은 방식으로 나머지 데이터의 평균을 출력한다.

# print 함수와 인덱싱만으로 결과를 표현해봅니다.

print(abs(my_list[0] + my_list[1] + my_list[2])/3)
print(abs(my_list[1] + my_list[2] + my_list[3])/3)
print(abs(my_list[2] + my_list[3] + my_list[4])/3)
print(abs(my_list[3] + my_list[4] + my_list[5])/3)

# 인덱스 간의 관계를 파악했다면 기준으로 사용할 인덱스를 결정합니다. 
# 이번에는 가운데에 있는 인덱스를 활용해서 for문을 작성해 보겠습니다.

for i in [1, 2, 3, 4]:
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

# 다음으로 코드를 다듬어 줍니다.
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

In [26]:
# 180. 리스트에 5일간의 저가, 고가 정보가 저장돼 있다.
# 고가와 저가의 차를 변동폭이라고 정의할 때, 
# low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])

# 파이썬 반복문 181 - 190

In [3]:
# 181.  하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [5]:
#182. 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

stock = [["시가", 100,200,300], ["종가", 80, 210, 330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [8]:
# 183. stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 
# 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

stock = {"시가" : [100, 200, 300], "종가":[ 80,210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [9]:
#184.stock 이라는 이름의 딕셔너리로 표현하라.
#날짜를 key로 저장하고, 
#나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 
#첫 열이 날짜이다.

stock = {"10/10": [80,110,70,90], "10/11":[210, 230, 190, 200]}

In [11]:
# 185. 리스트에 저장된 데이터를 아래와 같이 출력하라.

aprt = [[101, 102], [201,202], [301,302]]

for row in apart:
    for col in row:
        print(col,"호")

101호 호
102호 호
201호 호
202호 호
301호 호
302호 호

In [12]:
#186. 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [13]:
#187. 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [14]:
# 188, 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [15]:
# 189. 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [17]:
# 190. 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

# 191 ~ 200

In [1]:
#191.data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

In [2]:
for line in data:
    for colum in line:
        print(colum * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [3]:
#192. 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

for line in data:
    for column in line:
        print(colum * 1.00014)
    print("---")

14902.086000000001
14902.086000000001
14902.086000000001
14902.086000000001
---
14902.086000000001
14902.086000000001
14902.086000000001
14902.086000000001
---
14902.086000000001
14902.086000000001
14902.086000000001
14902.086000000001
---

In [4]:
#193. 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

result = []
for list in data:
    for column in line:
        result.append(colum * 1.00014)
print(result)

[14902.086000000001, 14902.086000000001, 14902.086000000001, 14902.086000000001, 14902.086000000001, 14902.086000000001, 14902.086000000001, 14902.086000000001, 14902.086000000001, 14902.086000000001, 14902.086000000001, 14902.086000000001]

In [5]:
#194. 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 
#저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [6]:
#195. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다.
# 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [7]:
# 196.ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다.
# 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

190
310

In [8]:
#197. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

for row in ohlc[1:]:
    if (row[3] >= row[0]):
        print(row[3])

100
310

In [10]:
# 198. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])

# range 구문을 사용해서도 문제를 풀 수 있습니다.

volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [11]:
#199. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 
# 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

# 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 
# 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [15]:
#200.리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 
# 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])

print(profit)

0